<!-- <div class="languages">
    <img src="{{languageLogo}}" alt="logo" style="float: left;">
    <h3>{{languageHead}}</h3>
    <p>&bull;{{languageDescription}}</p>
    <hr>
    <img src="../../assets/images/edit-2.png" style="float: right;">
</div>

<div class="education">
    <img src="{{educationLogo}}" style="float: left;">
    <h3>{{educationHead}}</h3>
    <div class="container">
        <div class="column">
            <p>{{educationDescription1}}</p>
            <p>&bull;  {{educationDescription2}}</p>
        </div>
        <div class="column">
          <p> {{educationDescription3}}</p>
        </div>
    </div>
    <hr>
    <img src="../../assets/images/edit-2.png" style="float: right;">
</div>

<div class="experience">
    <img src="{{experienceLogo}}" alt="logo" style="float: left;">
    <h3>{{experienceHead}}</h3>
    <p>&bull;{{experienceDescription1}}</p>
    <p>&bull;{{experienceDescription2}}</p>
    <hr>
    <img src="../../assets/images/edit-2.png" style="float: right;">
</div> -->