<header>
    <h1>Registration Form</h1>
</header>

<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>

<div class="container">
    <div class="sidebar">
        <h2>Sidebar</h2>
        <p>This is a sidebar.</p>
    </div>
    <div class="content">
        <form class="form" [formGroup]="reactiveForm" (ngSubmit)="OnFormSubmitted()">

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" formControlName="username" required>
            <small *ngIf="reactiveForm.get('username').invalid && reactiveForm.get('username').touched">
                *user name is required.
            </small>
            <br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" formControlName="email" required>
            <small *ngIf="reactiveForm.get('email').invalid && reactiveForm.get('email').touched">
                *eamil name is required.
            </small>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" formControlName="password" required>
            <small *ngIf="reactiveForm.get('password').invalid && reactiveForm.get('password').touched">
                *password name is required.
            </small>
            <br>
            <button type="submit">Register</button>
        </form>
    </div>
</div>
