<div class="header">
    <div class="search">
        <h2>Find Jobs</h2>
        <div class="searchContainer">
            <i class="fas fa-search searchIcon"></i>
            <input type="text" (input)="filterCompanies($event)" id="searchBox"
                placeholder="Search by Name Member ID,Designation" style="border:none; width: 90%;">
            <button id="filter"><img src="../../assets/images/icon filter (1).png"></button>
        </div>
    </div>
    <div class="bellIcons">
        <img src="../../assets/images/Group 5689.png">
    </div>
    <div class="logIcon">
        <img src="../../assets/images/mi_log-out.png">
    </div>
    
    <h2 > list Jobs</h2>   <h2 class="postjobs">Post Jobs</h2>    <h2 class="savedjobs">Saved Jobs</h2>
    
</div>
<div class="sideimage">
    <img class="sidedimage" src="../../assets/images/smiley-businesswoman-posing-outdoors-with-arms-crossed-copy-space 1.png" >
</div>
<div class="content-container">
    <div class="card_row">
        <div class="member-card" *ngFor="let list of companyList">
            <div class="member-image">
                <img [src]="list.companyLogo" alt="Member Image" width="75" height="75">
            </div>
            <div class="member-details">
                <div class="jobpost"> {{list.job_post}}</div><br>
                <span class="companyname">  {{list.company_name}}</span>
                
                   <span class="location" >{{list.location}}</span>
                </div>
                <p>We are looking for a UI/UX Designer to turn our software into easy-to-use product for our clients.
                </p>
                   <button class="btnn"> {{list.time_schedule}}</button>
                   <button class= "btnn"> {{list.salary_range}}</button>
                <button class= "btnn">{{list.location}}</button>
                <button class= "btnn">Onsite</button>
                <button class= "btnn">Remove</button>
            
        </div>
    </div>
</div>
