body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  header{
    
    color: #fff;
    padding: 10px;
  }

  .container {
    display: flex;
    flex: 1;
  }

  .sidebar {
    background: #222;
    color: #fff;

    padding: 20px;
  }

  .content {
    flex: 1;
   margin-left: 50px;
  }



  .column {
    flex: 1;
    padding: 10px;
  }
  /* sidebar */
  .sidebar{
   
   
    background:#117ebd;
    float: left;

}
.sidebar-menu{

        padding: 10px 10px 10px 20px;
        font-size: 20px;
        display: block;
      }
    
a{
    text-decoration: none;
}
a:visited{
    color: #fff;
}

/* end sidebar */

    .header{
        height:80px;
        width:75%;
        vertical-align: middle;
        float: left;
       }

       td{
        padding-left: 30px;
       }