
<div class="container">
    <div class="row">
<div class="col-md-12">
    <app-home-nav></app-home-nav>
</div>

</div>

</div>
<!-- explore category -->

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-12">
           <app-explore-category></app-explore-category>
        </div>
    </div>
    </div>

    <!-- end explore category -->


<div class="container-fluid">
<div class="row mt-5">
    <div class="col-md-12">
        <app-footer></app-footer>
    </div>
</div>
</div>



<router-outlet></router-outlet>
