.box{
    width:750px;
    height: 400px;
    background-color: lightskyblue;
    margin-top: 80px;
    margin-left: 200px; 
    border-radius:40px ;
}
h2{padding-top:30px}
.img1{    width: 358px;
    height: 389px;
    padding: 20px;}
.submit{
    background-color: midnightblue;
    border-radius: 18px;
  
    width: 100px;
    height: 50px;
    color: white;
}    
