<div class="about-us pt-5 pb-5">
    <h1 class="p-1">What Job Applicant Say About Us</h1>
    <div class="col-md-10">
        <div class="jobsFlexDiv">
            <div class="about-item col-md-5">
                <div class="about-item-header">
                    <div class="col-md-3">
                        <img src="publicassets/home/Userpic (2).png" align="left">
                    </div>

                    <p class="col-md-9">
                        I found my dream job through this job portal,the search filters made it easy
                        to findrelevent jobs, and the application process was smooth and efficient.
                    </p>
                </div>

                <div class="row2">
                    <strong>ROBERT FOX</strong>
                    <span class="workAt">Illustrator at Tockopedia</span>
                </div>
            </div>

            <div class="about-item col-md-5">
                <div class="about-item-header">
                    <div class="col-md-3">
                        <img src="publicassets/home/Image (1).png" align="left">
                    </div>

                    <p class="col-md-9">
                        I was impressed with the quality of job listings on this job portal.
                        The job descriptions were detailed and accurate, which helped me to narrow down mysearch
                    </p>
                </div>

                <div class="row2">
                    <strong>LESLIE ALEXANDER</strong>
                    <span class="workAt">UI designer at Gojek</span>
                </div>
            </div>

            <div class="about-item col-md-5">
                <div class="about-item-header">
                    <div class="col-md-3">
                        <img src="publicassets/home/Userpic.png" align="left">
                    </div>

                    <p class="col-md-9">
                        I had been struggling to find a job portal helped me find job opportunities,
                        and I landed my current job within weeks of signing up.
                        .
                    </p>
                </div>

                <div class="row2">
                    <strong>WILSON</strong>
                    <span class="workAt">Mobile Developer at Airbnb</span>
                </div>
            </div>

            <div class="about-item col-md-5">
                <div class="about-item-header">
                    <div class="col-md-3">
                        <img src="publicassets/home/Image.png" align="left">
                    </div>

                    <p class="col-md-9">
                        Thanks to this job, I was able to browse job listings from top companies
                        and applyto my desired job with ease.
                    </p>
                </div>

                <div class="row2">
                    <strong>PAOLO DYBALA</strong><br>
                    <span class="workAt">UX designer at Google</span>
                </div>
            </div>

        </div>
    </div>
</div>


@code {

}
