
<div>
    <div class="col-md-12 exploreTxtDiv">
        <h1 id="">Explore By Category</h1>
        <h6 id="content2-heading2">
            open the doors to endless career posibilities
            <br>and find your dream job with ease.
        </h6>
    </div>

    <div class="exploreWrapper">
        <div class="explorerRow col-md-12">
            <div class="content2-square1 col-md-2">
                <div>
                    <img src="publicassets/home/logo (1).png">
                </div>
                <div class="logo-heading1">Development</div>
                <div class="logo-heading2">512 available jobs</div>
            </div>
            <div class="content2-square1 col-md-2">
                <div>
                    <img src="publicassets/home/logo (2).png">
                </div>
                <div class="logo-heading1">Bussines</div>
                <div class="logo-heading2">223 available jobs</div>
            </div>
            <div class="content2-square1 col-md-2">
                <div>
                    <img src="publicassets/home/logo (3).png">
                </div>
                <div class="logo-heading1">Data Analyst</div>
                <div class="logo-heading2">125 available jobs</div>
            </div>
            <div class="content2-square1 col-md-2">

                <div>
                    <img src="publicassets/home/logo (4).png">
                </div>
                <div class="logo-heading1">Design</div>
                <div class="logo-heading2">400 available jobs</div>
            </div>

        </div>
        <div class="explorerRow col-md-12">
            <div class="content2-square1  col-md-2">
                <div>
                    <img src="publicassets/home/logo (5).png">
                </div>
                <div class="logo-heading1">Finance</div>
                <div class="logo-heading2">49 available jobs</div>
            </div>
            <div class="content2-square1  col-md-2">
                <div>
                    <img src="publicassets/home/logo (6).png">
                </div>
                <div class="logo-heading1">Human Resource</div>
                <div class="logo-heading2">116 available jobs</div>
            </div>
            <div class="content2-square1  col-md-2">
                <div>
                    <img src="publicassets/home/logo (7).png">
                </div>
                <div class="logo-heading1">Content Writing</div>
                <div class="logo-heading2">323 available jobs</div>
            </div>
            <div class="content2-square1 bg-gradientDiv  col-md-2">
                <div style=" ">
                    <span style="color: white;font-size: 20px;">Explore<br>More 32+<br>Companies</span>
                </div>
                <img style="" src="publicassets/home/arrow.png">

            </div>

        </div>



    </div>

</div>
@code {

}
