
<div class="help container-fluid mb-2">
    <br />
    <div class="helpContainer col-md-10">
        <div class="col-md-6 hiredLeftDiv">
            <h2>
                Help Company To Get <br />
                The Best Talent
            </h2>
            <p>
                Discover global career opportunities and land
                your dream job anywhere in the world with
                our extensive job listings of top companies
            </p>
            <div class="content5-buttons">
                <button class="btn btn-primary p1">Post A Job!</button>
                <button class="btn btn-outline-primary p2">Learn More</button>
            </div>
        </div>
        <div class="col-md-6 hiredRightDiv">
        </div>
    </div>
</div>


@code {

}
