@page
@model IndexModel
@{
    Layout = "home";
	
}
<style>
     .plist{
         width:150px;
         height:30px;
         font-size:x-large;
         margin:auto;
     }
	
</style>
<body>
	<div class="row">
		<div class="col-md-3">
			<button class="btn btn-block text-secondary bg-info rounded-pill mt-2">Location</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-block text-secondary bg-info rounded-pill mt-2">Experience</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-block text-secondary bg-info rounded-pill mt-2">Categorie</button>
		</div>
		<div class="col-md-3">
			<button class="btn btn-block text-secondary bg-info rounded-pill mt-2">Skills</button>
		</div>
	</div>
	
		<div class="row mt-5 text-white">
			<div class="col-md-3 bg-primary rounded ml-5 ">
				<h3 class="h4-fluid float-right">8</h3>
				<img class="img-fluid float-left mt-2" src="~/images/Group 33988.png">
				Interviews<br> Scheduled

			</div>
			<div class="col-md-3 bg-primary rounded ml-5">
				<h3 class="h4-fluid float-right">127</h3>
				<img class="img-fluid float-left mt-2" src="~/images/icon.png">
				Application Recieved

			</div>
			<div class="col-md-3 bg-primary rounded ml-5">
				<h3 class="h4-fluid float-right">49</h3>
				<img class="img-fluid float-left mt-2" src="~/images/icon (1).png">
				Total Jobs Posted

		
		</div>
	</div>
	<div class="row">
		<div class="col-xl-12 mt-5">
			<img src="~/images/smilingemployee.png" width="900px" alt="Alternate Text" />
		</div>
	</div>

  
</body>


