
<div class="footerDiv about-us pt-5 pb-5">
    <h1 class="p-1">Get Notified Every Job Now</h1>
    <div class="col-md-12">
        <div class="">
            <div class="footerFlexDiv col-md-12">
                <div class="paraDiv col-md-6">
                    <p class="">
                        Ideal platform for job seekers passionate about startups and
                        seeking new career opportunities
                    </p>
                </div>


                <div class="col-md-6 subscribe mt-5">
                    <input type="email" placeholder="Type Your Email Address">
                    <button type="submit">Subscribe</button>
                </div>



            </div>
        </div>
    </div>
</div>


@code {

}
