<div class="get-hired container-fluid">
    <div class="row col-md-10">
        <div class="col-md-6 hiredLeftDiv">
            <h2>Get Hired by Compnay <br /> Around The World</h2>
            <p>
                Discover global career opportunities and land
                your dream job anywhere in the world with
                our extensive job listings of top companies
            </p>
            <div class="content5-buttons">
                <button class="btn btn-primary p1">Apply Now!</button>
                <button class="btn btn-outline-primary p2">Learn More</button>
            </div>
        </div>
        <div class="col-md-6 hiredRightDiv">
        </div>
    </div>
</div>


@code {

}
