<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <img src="" class="img-fluid img1">
            </div>
        </div>
        <div class="">

            <div class="col-md-12 mainDiv">
                <div class=" ">
                    <nav class="navbar navbar-expand-sm ms-5 ">
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <h1 class="h1 fs-1">HireMe Now!</h1>
                        <div class="navbar-collapse collapse" id="navbarText" style="">
                            <ul class="nav navbar-nav  text-secondary h5 ">
                                <li class="active "><a href="#">Home</a></li>
                                <li><a href="#">Post A Job</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Feature</a></li>
                            </ul>
                            <ul class="nav navbar-nav ml-auto text-secondary h4 fw-bold">
                                <li><a href="/login">Login</a></li>
                                <li><a href="/register">SignUp</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <div style="
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
">
                    <div class="" style="
    max-width: 450px;
">
                        <div class="title">
                        </div>

                        <br>
                        <br>
                        <br>
                        <div class="sideTxt">
                            <div style="width: 100%;color: #242D62;">
                                <h1 style="font-size: 44px;">The Best Place To Find Your Dream Company</h1>
                            </div>
                        </div>


                        <div style="display: flex; justify-content: center; margin-top: 30px;">
                            <div style="width: 100%;font-size: 18px;text-align: justify;color: #515B6F;">
                                Ideal platform for job seekers passionate about startups and seeking new career opportunities.
                            </div>
                        </div>

                        <div style="margin-top: 60px;">
                            <input type="text" placeholder="Job title or Company" class="jobSearch">
                            <button class="exploreBtn">Explore</button>
                        </div>


                        <div class="mt-4">
                            <div style="text-align: center;">
                                <button class="greenBtn">
                                    Land your Dream job
                                </button>
                                <button class="greenBtn">
                                    Recruit the Perfect fit
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6"></div>
                </div>

            </div>

        </div>
    </div>

</div>


@code {

}
