<div class="content3">
    <div class="flexDiv">
        <div class="col-md-5">
            <div class="dot2">
                <img style="" src="publicassets/home/Decoration.png">
            </div>
            <div class="leftWrapperDiv"></div>
            <div class="leftHandImageDiv">
                <div class="job-alert">
                    <img style="left:32.08px;" src="publicassets/home/check-circle.png">
                    <h6>Job Alert!</h6>
                    <span style="color: #6D7394;">104 job openings<br> avilable, don't<br> waste time</span>
                </div>
            </div>
        </div>

        <div class="col-md-5" style="">
            <h6 style="font-size: 44px; color:#242D62;margin-top: 2px;line-height: 120%;">
                Help You Find A
                Job<br>That Suits You
            </h6>
            <div class="TrustedAndAccucrate">
                <div class="ta-img"><img src="publicassets/home/blue-building.png"></div>
                <div class="ta-details">
                    <h5>Trusted and Accurate</h5>
                    <p style="
    width: max-content;
    ">Trust us to help you find your perfect job with<br> our accurate job listing and reliable job portal.</p>
                </div>
            </div>
            <div class="TrustedAndAccucrate">
                <div class="ta-img"><img src="publicassets/home/blue-briefcase.png"></div>
                <div class="ta-details">
                    <h5>Hired By Top Companies</h5>
                    <p>Get one step closerto your career goals and<br> be employed by the best</p>
                </div>
            </div>
            <div class="TrustedAndAccucrate">
                <div class="ta-img"><img src="publicassets/home/blue-right.png"></div>
                <div class="ta-details">
                    <h5>Various Categories</h5>
                    <p>Discover exciting career opportunities across a <br>wide range of industries</p>
                </div>
            </div>
        </div>
    </div>
</div>
@code {

}
