<div class="popular-jobs">
    <h1>Recentely Popular Jobs</h1>
    <p class="description">Open the doors to endless career posibilities and find your dream job with ease.</p>

    <div class="jobsContainer ">

        <div class="jobsFlexDiv col-md-10">

            <div class="job-item col-md-3">
                <div class="item-header">
                    <img src="publicassets/home/Frame 1368.png" align="left">
                    <b>Google</b>
                    <p class="job-type">Development</p>



                </div>
                <h4>Front End Dev</h4>
                <div class="row2">

                    <div class="full-width"> <img src="publicassets/home/location-marker.png" align="middle"><p>New York</p> </div>

                    <div class="full-width"><img src="publicassets/home/clock.png" align="middle"><p>Part-Time</p> </div>

                </div>
                <hr />

                <p class="job-description"> responsible for implementing visual elements that users see and interact with in a web application</p>

            </div>

            <div class="job-item col-md-3">
                <div class="item-header">
                    <img src="publicassets/home/microsoftLogo.png" align="left">
                    <b>Microsoft</b>
                    <p class="job-type finance">Finance</p>



                </div>
                <h4>Accountant</h4>
                <div class="row2">

                    <div class="full-width"> <img src="publicassets/home/location-marker.png" align="middle"><p>Minneapolis</p> </div>

                    <div class="full-width"><img src="publicassets/home/clock.png" align="middle"><p>Part-Time</p> </div>

                </div>
                <hr />

                <p class="job-description"> responsible for implementing visual elements that users see and interact with in a web application</p>

            </div>

            <div class="job-item col-md-3">
                <div class="item-header">
                    <img src="publicassets/home/Slack.png" align="left">
                    <b>Slack</b>
                    <p class="job-type design">Design</p>



                </div>
                <h4>Product Designer</h4>
                <div class="row2">

                    <div class="full-width"> <img src="publicassets/home/location-marker.png" align="middle"><p>California</p> </div>

                    <div class="full-width"><img src="publicassets/home/clock.png" align="middle"><p>Full-Time</p> </div>

                </div>
                <hr />

                <p class="job-description"> responsible for implementing visual elements that users see and interact with in a web application</p>

            </div>

            <div class="job-item col-md-3">
                <div class="item-header">
                    <img src="publicassets/home/Slack.png" align="left">
                    <b>Slack</b>
                    <p class="job-type ContentWriter">Content Writer</p>



                </div>
                <h4>Copywriter</h4>
                <div class="row2">

                    <div class="full-width"> <img src="publicassets/home/location-marker.png" align="middle"><p>New York</p> </div>

                    <div class="full-width"><img src="publicassets/home/clock.png" align="middle"><p>Part-Time</p> </div>

                </div>
                <hr />

                <p class="job-description"> responsible for implementing visual elements that users see and interact with in a web application</p>

            </div>
            <div class="job-item col-md-3">
                <div class="item-header">
                    <img src="publicassets/home/Frame 1368.png" align="left">
                    <b>Google</b>
                    <p class="job-type design">Design</p>



                </div>
                <h4>Graphic Designer</h4>
                <div class="row2">

                    <div class="full-width"> <img src="publicassets/home/location-marker.png" align="middle"><p>New York</p> </div>

                    <div class="full-width"><img src="publicassets/home/clock.png" align="middle"><p>Part-Time</p> </div>

                </div>
                <hr />

                <p class="job-description"> responsible for implementing visual elements that users see and interact with in a web application</p>

            </div>
            <div class="job-item col-md-3">
                <div class="item-header">
                    <img src="publicassets/home/AirBnb.png" align="left">
                    <b>Airbnb</b>
                    <p class="job-type">Development</p>



                </div>
                <h4>Mobile Developer</h4>
                <div class="row2">

                    <div class="full-width"> <img src="publicassets/home/location-marker.png" align="middle"><p>New York</p> </div>

                    <div class="full-width"><img src="publicassets/home/clock.png" align="middle"><p>Part-Time</p> </div>

                </div>
                <hr />

                <p class="job-description"> responsible for implementing visual elements that users see and interact with in a web application</p>

            </div>

            <button class="btn btn-primary col-md-3" style="font-size: larger;"><a class="text-white text-decoration-none" href="/Job/JobList"> View All Jobs <img src="PublicAssets/home/arrow.png" /></a> </button>

        </div>



    </div>
</div>
@code {

}
