<div class="profile">
    <img src="../../assets/pexels-cottonbro-studio-4098157.jpg" height="40px" width="40px">
    <h6 style="margin-left: 80px; margin-top: 30px;">Olivia</h6>
    <p style="margin-left: 20px;">olivia@gmail.com</p>
</div>
<br><br>
<div class="navbar">
    <ul type="none" class="nav-item">
        <li><img src="../../assets/dashboard.png" style="height: 20px; width: 20px; position: relative; margin-left: -20px; margin-top: -18px;"><a href="#">Dashboard</a></li><br>
        <li><img src="../assets/suitcase.png" style="height: 20px; width: 20px; position: relative; margin-left: -20px; margin-top: -18px;"><a href="#">jobs</a></li><br>
        <li><img src="../../assets/layout.png" style="height: 20px; width: 20px; position: relative; margin-left: -20px; margin-top: -18px;"><a href="#">Application</a></li><br>
        <li><img src="../../assets/job-interview.png" style="height: 20px; width: 20px; position: relative; margin-left: -20px; margin-top: -18px;"><a href="#">Interview</a></li><br>
        <li><img src="../../assets/email.png" style="height: 20px; width: 20px; position: relative; margin-left: -20px; margin-top: -18px;"><a href="#">Message</a></li><br>
        <li><img src="../../assets/settings.png" style="height: 20px; width: 20px; position: relative; margin-left: -20px; margin-top: -18px;"><a href="#">Settings</a></li><br>
        <br><br>
        <li><img src="../../assets/add.png" style="width: 40px; height: 40px; position: relative; margin-left: -20px; margin-top: -18px;">Add New</li>
    </ul>
</div>
