<div class="bg-primary  min-vh-100">
    <span style="color: white;" class="d-none d-sm-inline" ><h5 align="center">Hire Me Now!</h5></span>
    <img class="mx-auto d-block d-none d-sm-inline mt-4" src="../../assets/image/Ellipse 1.png" alt="profile" width="65rem">

    <p class="profile d-none d-sm-inline" align="center" style="background-color: green;">open to work</p>
        <p class="text-center d-none d-sm-inline text-white mt-3" style="font-size: .8rem;" >Lexlie Alexander</p>
            <p class="text-center d-none d-sm-inline text-white mt-3 " style="font-size: .8rem;">alexanderleslie@gmail.com</p>
        <ul class="nav align-items-center flex-column mb-sm-auto mb-0 align-items-sm-start ">
            <li class="nav-item pt-2">
                <a routerLink="/alljobs" class="nav-link">
                    <i class="bi bi-building-fill text-white"></i>
                    <span class=" d-none d-sm-inline text-white" style="font-size: .8rem;">All Jobs</span>
                </a>
            </li>
            <li class="nav-item pt-2">
                <a routerLink="/myapplication" class="nav-link">
                    <i class="bi bi-file-bar-graph-fill text-white"></i>
                    <span class=" d-none d-sm-inline text-white" style="font-size: .8rem;">My Applications</span>
                </a>
            </li>
            <li class="nav-item pt-2">
                <a href="#" class="nav-link">
                    <i class="bi bi-chat-left-text-fill text-white"></i>
                    <span class=" d-none d-sm-inline text-white"style="font-size: .8rem;">Messages</span>
                </a>
            </li>
            <li class="nav-item pt-2">
                <a href="#" class="nav-link">
                    <i class="bi bi-person-fill  text-white"></i>
                    <span class=" d-none d-sm-inline text-white" style="font-size: .8rem;">Profile</span>
                </a>
            </li>
            <li class="nav-item pt-2">
                <a href="#" class="nav-link">
                    <i class="bi bi-gear-fill text-white"></i>
                    <span class=" d-none d-sm-inline text-white" style="font-size: .8rem;">Settings</span>
                </a>
            </li>
        </ul>    
</div>
