<div class="container mt-5 ms-5 h-75 rounded-5" style="border: 1px solid black" id="scroll">
<div class="main">
    <div *ngFor="let i of Details" class="card">
        <img style="width: 50px; height: 50px;" src="{{i.image}}" alt="">
        <h5>{{i.name}}</h5>
        <h5>{{i.education}}</h5>
        <h5>{{i.experiance}}</h5>
        <h5>{{i.place}}</h5>
        <a class="btn btn-primary border-black border-2" href="#" role="button" style="margin-left: 18rem;">view</a>
    </div>
</div>
</div>
