<div class="sidebar">
  <h2 class="mt-5">HireMe Now!</h2>

  <div class="profile mt-5 image-container">
    <img src="../../../../assets/images/leslie.png" alt="Profile Image"><div class="overlay">
      <div class="open-to-work">Open to Work</div>
    </div>
  </div>
  
 
  <h4>{{user.firstName}}</h4>
  <p>{{user.email}}</p>
    <ul class="nav flex-column">


      <li class="nav-item">
        <a class="nav-link" routerLink="findAllJobs"><img src="../../../../assets/images/buildings-2.png">All Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="appliedJobs"><img src="../../../../assets/images/clipboard-text.png">My Applications</a>
       
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="messages"><img src="../../../../assets/images/message-2.png">Messages</a>
       
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="profile"><img src="../../../../assets/images/profile.png">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="settings"><img src="../../../../assets/images/setting-2.png">Settings</a>
      </li>
<!-- 
      <li class="nav-item mt-5">
        <a class="nav-link2" href="#"><div class="col word-wrap"><img src="../../../../assets/images/g1.png" align="left">Type of Employment</div> <div class="col word
            ">full time jobs</div></a>
      </li>

      <li class="nav-item ">
        <a class="nav-link2" href="#"><div class="col word-wrap"><img src="../../../../assets/images/crown.png" align="left">Experience Level</div> <div class="col word
            ">Mid level</div></a>
      </li>

      <li class="nav-item ">
        <a class="nav-link2" href="#"><div class="col word-wrap"><img src="../../../../assets/images/Group 1 (1).png" align="left">Salary Range</div> <div class="col word
            ">3000-5000</div></a>
      </li>

      <li class="nav-item ">
        <a class="nav-link2" href="#"><div class="col word-wrap"><img src="../../../../assets/images/location.png" align="left">Location</div> <div class="col word
            ">South East Asia</div></a>
      </li>

      <li class="nav-item ">
        <a class="nav-link2" href="#"><div class="col word-wrap"><img src="../../../../assets/images/Group 1 (2).png" align="left">Onsite/Remote</div> <div class="col word
            ">Remote Job</div></a>
        </li> -->
      
    </ul>

    <!-- <button class="border mt-3 ">Logout</button> -->
  </div>