<div class="space"><h1>Hire Me Now</h1>
</div>
<div class="firstimage">
    <img class="firstimages" src="../../assets/image/cheerful-curly-business-girl-wearing-glasses 2.png" height="60%" width="60%">
</div>
<div class="opentowork">Open to work</div>
<div class="name">
    <p><b>Lessli Alexander<br><br>Lesslialexander@gmail.com</b></p>
</div>
<br>
<ul type="none">
    <li [routerLink]="['/alljobs']"><img src="../../assets/image/dashboard 1 (2).png">All Jobs</li>
    <li [routerLink]="['/myapplications']"><img src="../../assets/image/suitcase 2 (1).png">My Applications</li>
    <li><img src="../../assets/image/application (1) 1 (2).png">Messages</li>
    <li ><img src="../../assets/image/question (1) 1 (2).png">Profile</li>
    <li><img src="../../assets/image/settings 1 (1).png">Settings</li>



    
</ul>
