body{
   position: relative;
}
.hireMeNow{
    width: 291px;
    height: 1250px;
    background-color: #117EBD;
    position: absolute;
    margin-left: -8px;
    margin-top: -8px;
}
.hireMeNow h1{
    position: absolute;
    width: 226px;
    height: 30px;
    margin-left: 27px;
    margin-top: 145px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;

    color: #FFFFFF;
}
.box1{
    
    box-sizing: border-box;

    position: absolute;
    margin-left: 350px;
    margin-top: 140px;
    width: 410px;
    height: 429px;

    /* background: #FFFFFF; */
    border: 1px solid #EAEAEA;
    border-radius: 8px;
}
.s1{
    position: absolute;
    width: 179px;
    height: 31px;
    left: 60px;
    top: 300px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}
.s2{
    position: absolute;
    width: 179px;
    height: 31px;
    left: 60px;
    top: 355px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    }
.s3{
    position: absolute;
    width: 179px;
    height: 31px;
    left: 60px;
    top: 405px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    }
.s4{
    position: absolute;
    width: 179px;
    height: 31px;
    left: 60px;
    top: 460px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    }
.s5{
    position: absolute;
    width: 179px;
    height: 31px;
    left: 60px;
    top: 520px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    }
.s6{
    position: absolute;
    width: 179px;
    height: 31px;
    left: 60px;
    top: 585px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    }
.s7{
    position: absolute;
    width: 182px;
    height: 39px;
    left: 90px;
    top: 818px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}
.span1{
    position: absolute;
    left: 37.46%;
    right: 60.42%;
    top: 50.33%;
    bottom: 82.56%;
    width: 150px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* identical to box height */

    color: #000000;

    opacity: 0.5;
}
.span2{
    position: absolute;
    left: 40.46%;
    right: 60.42%;
    top: 55.33%;
    bottom: 82.56%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* identical to box height */


    color: #000000;

    opacity: 0.5;
}
.smsImg{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 30px;
    top: 290px;
}
#email{
    position: absolute;
    width: 157px;
    height: 24px;
    left: 70px;
    top: 290px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* identical to box height */


    color: #000000;

    opacity: 0.5;
}
.callImg{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 30px;
    top: 334px;
}
#call{
    position: absolute;
    width: 116px;
    height: 24px;
    left: 70px;
    top: 334px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* identical to box height */


    color: #000000;

    opacity: 0.5;
}
.locImg{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 30px;
    top: 375px;
}
#location{
    position: absolute;
    width: 68px;
    height: 24px;
    left: 70px;
    top: 375px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* identical to box height */


    color: #000000;

    opacity: 0.5;
}
#edit{
    position: absolute;
width: 24px;
height: 24px;
left: 360px;
top: 375px;

opacity: .5;
}
.box2{
    position: absolute;
    margin-left: 350px;
    margin-top: 610px;

background: #FFFFFF;
border: 1px solid #EAEAEA;
border-radius: 8px;
width: 410px;
height: 410px;
}
.about{
    width: 100px;
    position: absolute;
width: 107px;
height: 24px;
left: 35px;
top: 45px;

font-family: 'Poppins';
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;
/* identical to box height */


color: #000000;
}

.para_about{
    width: 410px;
height: 150px;
margin-left : 12px;
margin-top: 58px;
color: #000000;
padding: 25px;
opacity: .5;
word-spacing: 2px;
line-height: 22px;
}
.line{
    position: absolute;
width: 328px;
height: 0px;
left: 36px;
top: 320px;

border: 1px solid #EAEAEA;
}
.box2 #edit{
    position: absolute;
    margin-left: -90px;
    margin-top: -22px;
    opacity: .5;
}
.box2 #dots{
    position: absolute;
    margin-left: 330px;
    margin-top: 76px;
    opacity: .8;

}
.imgNotification{
    position: absolute;
width: 39px;
height: 36px;
margin-left: 1102px;
margin-top: 65px;
}
.imgGirl{
    position: absolute;
width: 72px;
height: 66px;
margin-left: 1164px;
margin-top: 49px;
}
.imgGroup{
    position: absolute;
width: 114.45px;
height: 30px;
left: 1260px;
top: 66px;
}
.box3{
    box-sizing: border-box;
width: 680px;
height: 290px;
position: absolute;
margin-left: 800px;
margin-top: 140px;


background: #FFFFFF;
border: 1px solid #EAEAEA;
border-radius: 8px;
}
.box3 .imgLang{
    
position: absolute;
width: 42px;
height: 30px;
margin-left: 2px;
margin-top: 40px;
}
.box3 h2{
    position: absolute;
width: 89px;
height: 24px;
margin-left: 70px;
margin-top: 41px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
/* identical to box height */


color: #000000;
}
.box3 p{
    position: absolute;
width: 547px;
height: 92px;
margin-left:90px;
margin-top: 80px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
line-height: 23px;
/* or 164% */


color: #000000;

opacity: 0.4;
}
.box3 .line{
    position: absolute;
width: 600px;
height: 0px;
margin-left: -37px;
margin-top: -110px;

border: 1px solid #EAEAEA;
}
.box3 .imageEdit{
    position: absolute;
width: 24px;
height: 24px;
left: 535px;
top: 235px;

opacity: 0.5;
}
.box3 .imgDots{
    position: absolute;
width: 24px;
height: 24px;
left: 580px;
top: 235px;

opacity: 0.5;
}
.box4{
    box-sizing: border-box;

position: absolute;
left: 800px;
top: 450px;
width: 680px;
height: 270px;

background: #FFFFFF;
border: 1px solid #EAEAEA;
border-radius: 8px;
}
.box4 .imgPortfolio{
    position: absolute;
width: 32px;
height: 32px;
left: 23px;
top: 42px;
}
.box4 h2{
    position: absolute;
width: 81px;
height: 24px;
left: 70px;
top: 30px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 19px;
line-height: 24px;
/* identical to box height */


color: #000000;
}
.box4 .para1{
    background-color:#fff;
    width: 350px;
    margin-left: 62px;
    margin-top: 65px;
    padding: 10px;
    opacity: 0.5;
    line-height: 23px;
    position: absolute;
}
.box4 .para2{
    position: absolute;
    background-color:#fff;
    width: 150px;
    margin-left: 452px;
    margin-top: 65px;
    padding: 10px;
    opacity: 0.5;
    line-height: 23px;
}
.imgPf{
    position: absolute;
width: 21px;
height: 24px;
left: 20px;
top: 40px;
}
.btn1{
    background-color: lightcyan;
    position: absolute;
    height: 51.7px;
    width: 337.7px;
    left: 650px;
    top: 1100px;
    border-radius: 8px;
    border: 0;
}
.box4 .round{
    position: absolute;
    width: 38px;
    height: 40px;
    left: 20px;
    top: 39px;
}
.box5 .round{
    position: absolute;
    width: 38px;
    height: 40px;
    left: 12px;
    top: 32px;
}