.tableone{
    background-color: blue;
    height: 300px;
    width: 200px;
    

}
.text1{
    border: 3px solid blue;
    text-align: center;
    font-size: 25px;
    color: blue;
    background-color: aliceblue;
}
.text2{
    
    text-align: center;
    font-size: 25px;
    color: black;
    background-color: blue
    ;
}
.tabletwo{
    background-color: gray;
    position: absolute;
    left: 210px;
    width: 500px;
    height: 300px;
    text-align: center;
    top: 10px;
}
.heading{
    border: 1px solid white;
    font-size: 25px;
    color: brown;
    margin-top:20px ;
    margin-bottom:50px ;
    margin-left: 190px;
    margin-right: 190px;
}