<h2>My Applications</h2>
<div class="content">
    <div class="contentcontainer">
        <img class="firstimage" src="..//../assets/image/shopee.png" >
        <div class="jobname">Angular Developer</div>
        <div class="companyname">D Company </div>
        <div class="location">London</div>
        <p>We are looking for a UI/UX Designer to turn our software into easy-to-use products for our clients</p>
        <button class="btn">Full-time</button> <button class="btn">Mid level</button><button class="btn">$30000-50000</button><button class="btn">Indonasia</button><button class="btn">Onsite</button>
    
    </div>
    <div class="contentcontainer">
        <img class="firstimage" src="..//../assets/image/amazon-png-logo-vector-6706 (1).png" >
        <div class="jobname">UX Designer</div>
        <div class="companyname">B Company </div>
        <div class="location">Qatar</div>
        <p>We are looking for a UI/UX Designer to turn our software into easy-to-use products for our clients</p>
        <button class="btn">Full-time</button> <button class="btn">Mid level</button><button class="btn">$30000-50000</button><button class="btn">Indonasia</button><button class="btn">Onsite</button>
    
    </div>
    <div class="contentcontainer">
        <img class="firstimage" src="..//../assets/image/amazon-png-logo-vector-6706 (1).png" >
        <div class="jobname">Java Script</div>
        <div class="companyname">C Company </div>
        <div class="location">Africa</div>
        <p>We are looking for a UI/UX Designer to turn our software into easy-to-use products for our clients</p>
        <button class="btn">Full-time</button> <button class="btn">Mid level</button><button class="btn">$30000-50000</button><button class="btn">Indonasia</button><button class="btn">Onsite</button>
    
    </div>
</div>
