<div class="container-fluid">
<div class="bg-primary sidebar ">
<div class="text-center">
    
    <ul type="none">
        <li><img class="img_sidebar mt-5 d-none d-sm-inline" src="../../assets/image/person5.png" alt=""></li>
        <li><h6  class="text-primary">.</h6></li>
        <li class=""><h6 class="d-none d-sm-inline">olivia@gmail.com</h6></li>
    </ul>
        </div>
        <ul type="none">
        <li class="mt-5"><img class="me-2 " src="../../assets/image/dashboard 1 (2).png" alt=""><span class="d-none d-sm-inline">Dashboard</span></li>
        <li class="mt-5 "><img class="me-2" src="../../assets/image/message 1 (2).png" alt=""><span class="d-none d-sm-inline">Jobs</span></li>
     
        <li class="mt-5"><img class="me-2" src="../../assets/image/suitcase 2.png" alt=""><span class="d-none d-sm-inline">Application</span></li>
        <li class="mt-5"><img class="me-2" src="../../assets/image/settings 1 (1).png" alt=""><span class="d-none d-sm-inline">interview</span></li>
        <li class="mt-5"><img class="me-2" src="../../assets/image/question (1) 1 (2).png" alt=""><span class="d-none d-sm-inline">Dashboard</span></li>
        <li class="mt-5"><img class="me-2" src="../../assets/image/dashboard 1 (2).png" alt=""><span class="d-none d-sm-inline">Setting</span></li>
        <li class="mt-5"><img class="d-none d-sm-inline" src="../../assets/image/add-group (1) 1 (2).png" alt=""></li>
    </ul>

</div>

</div>