<form action="">
   <img class="lens" src="..//../assets/image/icons8-search-50.png" ><input type="search" class="search"> <input type="" placeholder="location" class="dropdown"> <img class="filter" src="..//..//assets/image/icon filter.png" >
</form>
<div class="content">
<div class="contentcontainer">
    <img class="firstimage" src="..//..//assets/image/shopee.png
    " >
    <div class="jobname">Angular Developer</div>
    <div class="companyname">D Company </div>
    <div class="location">London</div>
    <img class="save" src="..//../assets/image/Group 5696.png" height="40px">
    <p>We are looking for a UI/UX Designer to turn our software into easy-to-use products for our clients</p>
    <button class="btn">Full-time</button> <button class="btn">Mid level</button><button class="btn">$30000-50000</button><button class="btn">Indonasia</button><button class="btn">Onsite</button><button class="applynow">Apply Now</button>

</div>
<div class="contentcontainer">
    <img class="firstimage" src="..//../assets/image/amazon-png-logo-vector-6706 (1).png" >
    <div class="jobname">UX Designer</div>
    <div class="companyname">B Company </div>
    <div class="location">Qatar</div>
    <img class="save" src="..//../assets/image/Group 5696.png" height="40px">
    <p>We are looking for a UI/UX Designer to turn our software into easy-to-use products for our clients</p>
    <button class="btn">Full-time</button> <button class="btn">Mid level</button><button class="btn">$30000-50000</button><button class="btn">Indonasia</button><button class="btn">Onsite</button><button class="applynow">Apply Now</button>

</div>
