<header>
    <nav>
      <div class="logo">Logo <span class="word-wrap">Saved Jobs</span></div>
      <div class="menu" [class.responsive]="isResponsive">
        <a href="#"><img src="../../../../assets/images/notification-bing.png"></a>
        <a href="#"><img src="../../../../assets//images/leslie.png" height="30px" width="30px"><b>Lesile Alexander</b></a>
       
      </div>
      <div class="icon" (click)="toggleResponsive()">
        <i class="fa fa-bars"></i>
      </div>
    </nav>
  </header>