@inject NavigationManager NavManager

	<div class="row border-bottom">
		<div class="col-md-9 border rounded-pill bg-white ml-3">
			<div class="input-group  ">
				<img class="img-fluid" src="images/search copy 2.png">
				<input  type="search" class="form-control border-0 small" placeholder="Search by Name, MemberID,Designation" aria-label="Search" aria-describedby="search-addon">
				<img class="img-fluid mr-5" src="images/icon filter.png" >
			</div>
		</div>
	</div>