<div id="sidebar">
    <div class="profile">
        <img src="https://images.pexels.com/photos/1542085/pexels-photo-1542085.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Profile Photo">
        <h2>John Doe</h2>
    </div>
    <ul>
        <li class="active"><a href="#">Dashboard</a></li><br><br>
        <li><a href="#">Jobs</a></li><br><br>
        <li [routerLink]="['/content']">Applications(form)</li><br><br>
        <li [routerLink]="['/data']">Interviews(list)</li><br><br>
        <li><a href="#">Messages</a></li><br><br>
        <li><a href="#">Settings</a></li><br><br>
    </ul>
    <button class="new-button">New</button>
</div>
