@page "/"
@model JobPortalApplication.Pages.JobProvider.PostJobModel
@{
	Layout = "_JobProviderLayout";
}

				 <div class="row">

					 <div class="col-md-10 p-5 mx-auto d-block border rounded mb-5" style="border-radius: 30px; box-shadow: 0px 0px 5px 2px gray;">
						<form method="post">
						 <div class="row">
							 <div class="col-md-10">
								 <div class="form-group">
									 <label for="jobTitle"><h4>Job Title</h4></label>
									 <br>
									 <input asp-for="Input.Title"class="form-control p-4 bg-light" type="text" placeholder="Enter Job Title" required>
								 </div>
								 <div class="form-group">
									 <label for="description"><h4>Description</h4></label>
									 <br>
									 <input  asp-for="Input.Description"class="form-control p-4 bg-light" type="text" placeholder="Enter Description" required>
								 </div>
								 <div class="form-group">
									 <label for="Salary"><h4>Salary</h4></label>
									 <br>
									 <input  asp-for="Input.Salary"class="form-control p-4 bg-light" type="text" placeholder="Enter Salary" required>
								 </div>
								 <div class="form-group">
									 <label for="Location"><h4>Location</h4></label>
									 <br>
									 <input asp-for="Input.Location"class="form-control p-4 bg-light" type="text"  placeholder="Enter Location" required>
								 </div>
							 </div>
						 </div>
						 <div class="row pt-4">
							 <div class="col-md-3">
								 <input class="btn bg-primary pl-5 pr-5" type="submit" value="Post Job"></input>
								
							 </div>
							 <div class="col-md-3">
								 <label >Push Notification</label>
								
							 </div>
							 <div class="col-md-3">
								 <label>Email Notification</label>
								
							</div>
						 </div>	
						 </form>
					 </div>
					 @if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
				 </div>
				
				 
				 
				 
				 
			