@page
@model IndexModel
@{
    ViewData["Title"] = "Home aju";
}

<div class="text-center">
    <h1 class="display-4">Welcome to activity 3</h1>
    <a asp-page="/Register_page">Register</a>
    
</div>
