<!DOCTYPE html>

<html>
<head>
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
  

	<div class="container-fluid">
		<div class="row">
			<!-- Page Title -->
			<div class="col-md-12 p-4 bg-light">
				<img class="img-fluid mx-auto d-block" src="~/publicassets/images/Headline.png">
			</div>
		</div>
		<div class="row bg-light p-2">
			<!-- Search -->
			<div class="col-md-10 mx-auto d-block bg-white p-4">
				<div class="input-group">
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        			<input  type="search" class="form-control border-top-0 border-left-0 border-right-0  border-bottom" placeholder="Job title or keyword" aria-label="Search" aria-describedby="search-addon">
        			<div class="vr"></div>
  					<button type="button" class="btn bg-primary ml-3 btn-lg">search</button>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- DashBoard -->
			<div class="col-md-10 mx-auto d-block d-inline pb-5">
				<nav class="navbar dashboard navbar-expand-sm">
  						<div class="container-fluid dashboard ">
  							<div class="navbar-header " >
        						<a class="navbar-brand text-dark" style="font-size: 1.1em" href="~/Jobprovider/Dashboard">DashBoard</a>
  							</div>
							<a class="nav-link text-dark " href="#">Job</a>
						    <a class="nav-link text-dark " href="#">Application</a>
						<a class="nav-link text-dark" href="~/Jobprovider/SheduledInterviewList">Interviews</a>
						    <a class="nav-link text-dark" href="#">Messages</a>
						    <a class="nav-link text-dark" href="#">Settings</a>
						</div>
   					  	<img class="img-fluid float-right" src="~/publicassets/images/Group 5689.png"  >
					  	<img  class="img-fluid float-right" src="~/publicassets/images/Group 239625.png"   >
					  	<img class="img-fluid float-right" src="~/publicassets/images/add-group.png" width="50" height="50"  >
				    </nav>
			</div>
		</div>
		<div class="row">
			<!-- SideBar -->
			<div class="col-md-10 d-blok mx-auto pt-5 ">
				<div class="row">
					<div class="col-md-3 g-0">
						<div class="dropdown">
						    <button class="border-0 btn-white dropdown-toggle" type="button" data-toggle="dropdown">Type of Employee
						    <span class="caret"></span></button>
						    <ul class="dropdown-menu">
						        <li>
						        	<a class="dropdown-item" href="">
						        		<div class="form-check">
											<input class="form-check-input" type="checkbox" value="" id="Checkme1" >
											 <label class="form-check-label" for="Checkme1">Full-time(3)</label>
										</div>
									</a>
								</li>
						      	<li>
							      	<a class="dropdown-item" href="">
							      		<div class="form-check">
											<input class="form-check-input" type="checkbox" value="" id="Checkme2"  >
											<label class="form-check-label" for="Checkme2">Part-Time(5)</label>
										</div>
									</a>
								</li>
						      	<li>
							      	<a class="dropdown-item" href="#">
							            <div class="form-check">
							                <input class="form-check-input" type="checkbox" value="" id="Checkme3" >
							                <label class="form-check-label" for="Checkme3">Remote(2)</label>
							            </div>
							        </a>
						      	</li>
						      	<li>
							      	<a class="dropdown-item" href="#">
							            <div class="form-check">
							               <input class="form-check-input" type="checkbox" value="" id="Checkme3" >
							                <label class="form-check-label" for="Checkme3">Internship(24)</label>
							            </div>
							        </a>
						      	</li>
							     	<a class="dropdown-item" href="#">
							            <div class="form-check">
							               <input class="form-check-input" type="checkbox" value="" id="Checkme3" >
							                <label class="form-check-label" for="Checkme3">Contact(3)</label>
							            </div>
							        </a>
						      </li>
						    </ul>
						</div>
						 <div class="dropdown">
						    <button class="btn btn-White border-0 dropdown-toggle" type="button" data-toggle="dropdown">Categories
						    <span class="caret"></span></button>
						    <ul class="dropdown-menu">
						        <li>
						        	<a class="dropdown-item" href="">
						        		<div class="form-check">
											<input class="form-check-input" type="checkbox" value="" id="Checkme1" >
											 <label class="form-check-label" for="Checkme1">Design(24)</label>
										</div>
									</a>
								</li>
						      	<li>
							      	<a class="dropdown-item" href="">
							      		<div class="form-check">
											<input class="form-check-input" type="checkbox" value="" id="Checkme2"  >
											<label class="form-check-label" for="Checkme2">Sales(3)</label>
										</div>
									</a>
								</li>
						      	<li>
							      	<a class="dropdown-item" href="#">
							            <div class="form-check">
							                <input class="form-check-input" type="checkbox" value="" id="Checkme3" >
							                <label class="form-check-label" for="Checkme3">Marketing(3)</label>
							            </div>
							        </a>
						      	</li>
						      	<li>
							      	<a class="dropdown-item" href="#">
							            <div class="form-check">
							               <input class="form-check-input" type="checkbox" value="" id="Checkme3" checked  >
							                <label class="form-check-label" for="Checkme3">Business(3)</label>
							            </div>
							        </a>
						      	</li>
							     	<a class="dropdown-item" href="#">
							            <div class="form-check">
							               <input class="form-check-input" type="checkbox" value="" id="Checkme3" >
							                <label class="form-check-label" for="Checkme3">Human Resource</label>
							            </div>
							        </a>
						      </li>
						      <li>
							      	<a class="dropdown-item" href="">
							      		<div class="form-check">
											<input class="form-check-input" type="checkbox" value="" id="Checkme2"  >
											<label class="form-check-label" for="Checkme2">Finance(4)</label>
										</div>
									</a>
								</li>
						      	<li>
							      	<a class="dropdown-item" href="#">
							            <div class="form-check">
							                <input class="form-check-input" type="checkbox" value="" id="Checkme3" >
							                <label class="form-check-label" for="Checkme3">Engineering(4)</label>
							            </div>
							        </a>
						      	</li>
						      	<li>
							      	<a class="dropdown-item" href="#">
							            <div class="form-check">
							               <input class="form-check-input" type="checkbox" value="" id="Checkme3" checked  >
							                <label class="form-check-label" for="Checkme3">Technology(5)</label>
							            </div>
							        </a>
						      	</li>
						     </ul>
						</div>
					</div>	
					<!-- All jobs Detail -->
    		      	<div class="col-md-7">
						<div class="row">
							<div class="col-md-12">
								<h2 class="h2-fluid ">All Jobs</h2>
								<p class="text-secondary">Showing 73 results</p>
							</div>
						</div>
    <div>
        @RenderBody()
    </div>
	</div>
</body>
</html>
