<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
		.sidebar li a{
			color:white;
			text-decoration:none;

		}

		.sidebar li a :hover{
			color: black;
			text-decoration: none;
		}

		.img-fluid {
			max-width: 100%;
			height: auto;
			border-radius: 30px;
		}
  </style>
</head>
<body>
    <div>
        <div class="container-fluid">
            <div  class="row">
			<div class="col-md-2 text-nowrap bg-primary">
				<nav class="navbar  navbar-expand-md sidebar navbar-dark">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
	  					<span class="navbar-toggler-icon bg-dark"></span>
	  				</button>
	 				<div class="collapse  navbar-collapse sidebar " id="collapsibleNavbar">
	 					<ul class="list-group text-white list-unstyled">
	 						<li class="list-group-item border-0 bg-primary pt-5 pb-5 ">
	 							<h4 class="h4-fluid">HireMe Now</h4>
	 						</li>
								<li class="list-group-item border-0 bg-primary pt-5 pb-5 ">
									<a href="~/User/index">
									<img class="img-fluid float-right" src="~/postjob/images/cheerful-curly-business-girl-wearing-glasses 2.png">
									<p>@ViewBag.UserEmail</p>
									</a>
								</li>
	 						
	 						<li class="list-group-item border-0 bg-primary">
									<a href="~/JobProvider/Dashboard"> <p><img src="~/postjob/images/dashboard 1 (2).png">  Dash Board</p> </a>
	 						</li>
	 						<li class="list-group-item border-0 bg-primary">
									<a href="~/jobs/joblists"><p><img src="~/postjob/images/suitcase 2 (1).png">  Jobs</p></a>
	 						</li>
			    			<li class="list-group-item border-0 bg-primary">
	 							<a href="#"><p><img src="~/postjob/images/application (1) 1 (2).png">  Applications</p></a>
	 						</li>
			   				<li class="list-group-item border-0 bg-primary">
									<a href="~/JobProvider/sheduledInterviewList"><p><img src="~/postjob/images/question (1) 1 (2).png"> Interviews</p></a>
	 						</li>
	 						<li class="list-group-item border-0 bg-primary">
	 							<a href="~/JobProvider/Dashboard"><p><img src="~/postjob/images/message 1 (2).png" > Messages</p></a>
	 						</li>
			    
			    			<li class="list-group-item border-0 bg-primary">
	 							<a href="~/JobProvider/Dashboard"><p><img src="~/postjob/images/settings 1 (1).png">  Settings</p></a>
	 						</li>
			    			<li class="list-group-item border-0 bg-primary">
									<a href="~/company/memberlisting">
										<img class="img-fluid" src="~/postjob/images/add-group (1) 1 (2).png"><br>
				        		<span class="text-white">Add New</span></a>
			    			</li>
	 					</ul>
	 				</div>
 				</nav>
 			</div>
			 <div class="col-md-10">
 				<div class="row">
                        <div class="col-md-12 mt-5 mb-3 border-bottom">
							<a href="~/">
								<img src="~/postjob/images/group 239625 (1).png" class="img-fluid float-right pt-2 m-2 "/>
							</a>

							 <img class="img-fluid float-right m-2 pt-4" src="~/postjob/images/arrow-down.png"> 
 						<span class="float-right pt-3 m-2"><strong>Olivia</strong></span>

 						<img class="img-fluid float-right" src="~/postjob/images/cheerful-curly-business-girl-wearing-glasses 2.png">
 						<img class="img-fluid float-right pt-2 m-2 " src="~/postjob/images/Group 5689.png" width="30" height="30">

 					</div>
 				</div>
        @RenderBody()
		 <div class="row">
					 <div class="col-md-12 bg-primary ">
						 <img class="img-fluid float-left" src="~/postjob/images/Decoration (3).png"> 
						 <div class="col-6 position-absolute ">

							<h2 class="h3-fluid text-white mt-5 font-italic ">Get Your Dream Job......</h2>
							<img class="img-fluid float-right p-5" src="~/postjob/images/calendar (2) 2.png">
							 <img class="img-fluid  float-right p-5 imgHome " src="~/postjob/images/home-button 4.png">
						</div>
					 </div>
				</div>
	</div>
        </div> 
  
</body>
</html>
