<div class="heading-info">
  <h5>Showing 35 Applicants</h5>
  <p>Based Your Preferences</p>
</div>
<br>
<div class="card-row">
  <div class="card">
    <img src="../../assets/images/companyLogo.png" class="logo">
    <h5>Func Inc.</h5>
    <h6>IT Department</h6>
    <br>
    <img src="../../assets/images/background.png" class="left-image">
    <img src="../../assets/images/background (2).png" class="right-image">
  </div>

  <div class="card">
    <img src="../../assets/images/companyLogo.png" class="logo">
    <h5>Aitrich Ltd</h5>
    <h6>IT Department</h6>
    <br>
    <img src="../../assets/images/background.png" class="left-image">
    <img src="../../assets/images/background (2).png" class="right-image">
  </div>

  <div class="card">
    <img src="../../assets/images/companyLogo.png" class="logo">
    <h5>Mosciski Inc</h5>
    <h6>Creative Design Agency</h6>
    <br>
    <img src="../../assets/images/background.png" class="left-image">
    <img src="../../assets/images/background (2).png" class="right-image">
  </div>

  <div class="card">
    <img src="../../assets/images/companyLogo.png" class="logo">
    <h5>Highspeed Studios</h5>
    <h6>Creative Design Agency</h6>
    <br>
    <img src="../../assets/images/background.png" class="left-image">
    <img src="../../assets/images/background (2).png" class="right-image">
  </div>
</div>
<br>
<div class="card-row">
  <div class="card">
    <img src="../../assets/images/companyLogo.png" class="logo">
    <h5>Incubator Studios</h5>
    <h6>Software House</h6>
    <br>
    <img src="../../assets/images/background.png" class="left-image">
    <img src="../../assets/images/background (2).png" class="right-image">
  </div>

  <div class="card">
    <img src="../../assets/images/companyLogo.png" class="logo">
    <h5>Naonatu Inc.</h5>
    <h6>Creative Design Agency</h6>
    <br>
    <img src="../../assets/images/background.png" class="left-image">
    <img src="../../assets/images/background (2).png" class="right-image">
  </div>

  <div class="card">
    <img src="../../assets/images/companyLogo.png" class="logo">
    <h5>ColoColo Studios</h5>
    <h6>Internet Service Porvider</h6>
    <br>
    <img src="../../assets/images/background.png" class="left-image">
    <img src="../../assets/images/background (2).png" class="right-image">
  </div>
  
  <div class="card">
    <img src="../../assets/images/companyLogo.png" class="logo">
    <h5>Funk Inc.</h5>
    <h6>IT Department</h6>
    <br>
    <img src="../../assets/images/background.png" class="left-image">
    <img src="../../assets/images/background (2).png" class="right-image">
  </div>
</div>
<br>
<div class="card-row">
  <div class="card">
    <img src="../../assets/images/companyLogo.png" class="logo">
    <h5>Mosciski Inc.</h5>
    <h6>Creative Design Agency</h6>
    <br>
    <img src="../../assets/images/background.png" class="left-image">
    <img src="../../assets/images/background (2).png" class="right-image">
  </div>

  <div class="card">
    <img src="../../assets/images/companyLogo.png" class="logo">
    <h5>Highspeed Studios</h5>
    <h6>Creative Design Agency</h6>
    <br>
    <img src="../../assets/images/background.png" class="left-image">
    <img src="../../assets/images/background (2).png" class="right-image">
  </div>

  <div class="card">
    <img src="../../assets/images/companyLogo.png" class="logo">
    <h5>Simonis Ltd</h5>
    <h6>Internet Service Porvider</h6>
    <br>
    <img src="../../assets/images/background.png" class="left-image">
    <img src="../../assets/images/background (2).png" class="right-image">
  </div>
  
  <div class="card">
    <img src="../../assets/images/companyLogo.png" class="logo">
    <h5>Funk Inc.</h5>
    <h6>IT Department</h6>
    <br>
    <img src="../../assets/images/background.png" class="left-image">
    <img src="../../assets/images/background (2).png" class="right-image">
  </div>
</div>



  