#dev
{
    margin-left: 15%;
}
.navbar-nav {
    width: 100%;
    justify-content: space-between;
  }
  .center-div {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  .nav-item:hover
  {
   border-bottom: 3px solid #CAC3AA;
  }

  .filters
  {
    border-top:3px solid  #CAC3AA;
    ; 
  }