<div class="container mx-5 px-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col">
                    <h2 class="centered-text pt-5">Resource & Blogs Center</h2>
                    <p class="display-6 centered-text display-5 pt-2 custom-font">Ideal platform for job seekers passionate about startup and <br>seeking new career oppurtunities.</p>
                  </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../../assets/images/pic.png" class="card-img-top img-fluid" alt="Image">
                    <div class="card-body">
                      <span class="badge badge1">Design</span>
                      <h6 class="card-title mt-3">How To Start Your career in a digital startUp</h6>
                      <p class="card-text text-secondary">djsbhfvidsvjbfvdshvbghdsbh bfudhysbvsfvjnfbvhjbdxid bvfihdihiuhsbvjshbsfh</p>
                      <a href="#">Read More<img src="Icon (2).png" class="img-fluid"></a>
                    </div>                  
                </div>                 
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../../assets/images/Picture.png" class="card-img-top img-fluid" alt="Image">
                    <div class="card-body">
                      <span class="badge badge1">Design</span>
                      <h6 class="card-title mt-3">Importance of Teamwork in the Project</h6>
                      <p class="card-text text-secondary">djsbhfvidsvjbfvdshvbghdsbh bfudhysbvsfvjnfbvhjbdxid bvfihdihiuhsbvjshbsfh</p>
                      <a href="#">Read More<img src="assets/Images/Icon (2).png" class="img-fluid"></a>
                    </div>                  
                </div>                 
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../../../assets/images/Picture (2).png" class="card-img-top img-fluid" alt="Image">
                    <div class="card-body">
                      <span class="badge badge2">Finance</span>
                      <h6 class="card-title mt-3">Manage your finances from now on for future purposes</h6>
                      <p class="card-text text-secondary">djsbhfvidsvjbfvdshvbghdsbh bfudhysbvsfvjnfbvhjbdxid bvfihdihiuhsbvjshbsfh</p>
                      <a href="#">Read More</a><img src="assets/Images/Icon (2).png" class="img-fluid">
                    </div>                  
                </div>                 
              </div>
    </div>
</div>

