.view {
   
    padding: 2% 10%;
    background-color: cornflowerblue;
    border-radius: 20%;
   bottom:18px;
  
  left: 200px;

}

#scroll{
  max-height: 90vh;
  overflow-y: scroll;


}
      
      


    .search{
        border-radius: 8px;
        height: 35px;
        width: 850px;
        border: 1px solid black;
       position: absolute;
       left: 20px;
       padding-left: 10px;
       
      
    }
    .navbar {
      position: absolute;
      top: -50px;
        right: 0%;
        width: 78%;
        height: 19%;
        padding-left: 250px;
        
        
    }
    
    h3{
        position: absolute;
        left: 20px;
        top: -50px;
    }
    .image-two{
        position: absolute;
        top: -3px;
        right: -2px;
    }
    
    .image-three{
        position: absolute;
        left: 920px;
    }
    .image-four{
        position: absolute;
        left: 950px;
       
    }
   .submit-button{
    position: absolute;
    
    background-color: rgb(220, 204, 204);
    height: 30px;
    left: 790px;
    border: none;
  width: 30px;
    border: 1px solid black;
    position: absolute;
    top: 3px;

   
   

   }
   .submit-button:hover{
    cursor: pointer;
    background-color: gainsboro;
   }
   
   
       
