 .Navbar{
    width: 20%;
    height: 600px;
    background-color: rgb(11, 97, 183);
    justify-content: center;
    text-align: center;
    color: white;
}

.list{
    text-decoration: none;
    font-weight: 100;
    position: relative;
} 
table {
    border-collapse: collapse;
    border:0px solid black ;
    width: 30%;
    position: absolute;
    margin-left: 300px;
    margin-top: -500px;
}
 table, tr{
    border: 1px solid black;
    
}

