.container{
    display: flex;
}
.col-3{

    flex:1;
}
.col-9{
    flex:5;
    /* background-color: rgb(255, 127, 206); */
}
.company {
    display: flex;
    align-items: center;
  
  }
  
  .container {
   margin: 0 10px;
    /* height: 90vh;
    overflow-y: scroll; */  
    display: flex;
    height: 80vh;
  
  }
  
  .content
  {
    flex-basis:75%;
    overflow-y: scroll;
  }
 
  .text-container {
    display: flex;
    flex-direction: column;
    margin-left: 30px; /* Adjust the spacing between image and texts */
    justify-content: flex-start;
  
  }
  
  .job {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 30px 0;
    padding: 15px 5px;
  
  }
  
  .job-header {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
  }
  
  .job-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
  }
  
  .job-text {
    margin: 0 15px;
    color: rgb(125, 120, 105);
    font-weight: 300;
  }
  
  .pills {
    display: flex;
    align-items: center;
  }
  
  .pills p {
    border-radius: 25px;
    background-color: rgb(196, 178, 154);
    color: white;
    padding: 5px;
    margin: 0 5px;
  }
  
  .text-container p {
    margin: 5px;
    /* Remove default margin */
  }
  ::-webkit-scrollbar {
    width: 10px;  /* width of the vertical scrollbar */
    height: 10px; /* height of the horizontal scrollbar */
  }
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* color of the scrollbar thumb */
    border-radius: 5px;     /* border radius of the scrollbar thumb */
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #e7dbdb; /* color of the scrollbar thumb on hover */
  }
  