/* CSS Document */
.body{
background-image:url('../images/img01.jpg');
}
.h1{
 
  background-color:#b0c4de;
  text-align:center;
  color:#ffffff;
  }
  .div
  {
    background-color:#e0ffff;;
	height:300 px;
  }

