#navbar{
    background-color: #20a6fc;
    width: 20%;
    height: 40cm;
}
#profile{
    color: white;
    margin-left: auto;
    margin-right: auto;
}
#profilepic{
    margin-bottom: 0px;
    margin-top: 3px;
}
#workstatus{
    background-color: green;
    color: white;
    width: 8cm;
    border-radius: 5px;
}
#name{
    margin-top: 1px;
}

.items{
    color: white;
    list-style-type: none;
    line-height: 4em;
}

#rightside{
    width: 80%;
    border: 2px solid blue;

}
#top{
    width: 100%;
}

#footer{
    background-color: #20a6fc;
    width: 100%;
    height: 8cm;
    padding-top: 1cm;
}
#footer h2{
    font-size: 3em;
}
#footer p{
    font-size: 1.5em;
    color: white;
}


.subscribe input
    {
        border: 0;
        position: absolute;
        margin-top: 15px;
        margin-left: -250px;
    }