<div class="container">
    <h1>HireMe Now!</h1>
    <div class="container-inside">
        <img src="assets\images\Ellipse 1.png">
        <div class="inside">
            <p id="open-to-work">Open To Work</p>
            <p>Leslie Alexander</p>
            <p>alexanderleslie@mail.com</p>
        </div> 
    </div>
    <div class="menu-div">
        <ul class="menu">
            <li>
                <img src="assets\images\buildings-2.png" alt="Menu Icon 1">
                All Jobs
            </li>
            <li>
                <img src="assets\images\Vector.png" alt="Menu Icon 2">
                My Applications
            </li>
            <li>
                <img src="assets\images\message-2.png" alt="Menu Icon 3">
                Messages
            </li>
               <li>
                <img src="assets\images\profile.png" alt="Menu Icon 4">
                Profile
            </li>
            <li>
                <img src="assets\images\setting-2.png" alt="Menu Icon 5">
                Settings
            </li>
        </ul>
    </div>
</div>
