
	<div class="sidebar">
		<div class="profile">
			
			<h3 style="color: white;text-indent: 30px;">Jobiee</h3>
			<br><br><br>
		</div>
		<ul class="items">
			<li>
				<a href="#" class="active">
					<span class="icon"><i class="fas fa-home"></i></span>
					<span class="item" style="color: white;">Dashboard</span>
				</a>
			</li>
            <br><br>
			<li>
				<a href="#">
					<span class="icon"><i class="fas fa-desktop"></i></span>
					<span class="item" style="color: white;">Job Provider</span>
				</a>
			</li>
            <br><br>
			<li>
				<a href="#">
					<span class="icon"><i class="fas fa-user-friends"></i></span>
					<span class="item"style="color: white;">New Registration</span>
				</a>
			</li>
            <br><br>
			<li>
				<a href="#">
					<span class="icon"><i class="fas fa-tachometer-alt"></i></span>
					<span class="item"style="color: white;">Job Seeker</span>
				</a>
			</li>
            <br><br>
			<li>
				<a href="#">
					<span class="icon"><i class="fas fa-database"></i></span>
					<span class="item"style="color: white;">Jobs</span>
				</a>
			</li>
            <br><br>
			<li>
				<a href="#">
					<span class="icon"><i class="fas fa-chart-line"></i></span>
					<span class="item" style="color: white;">My Profile</span>
				</a>
			</li>
            <br><br>
			<li>
				<a href="#">
					<span class="icon"><i class="fas fa-user-shield"></i></span>
					<span class="item" style="color: white;">Message</span>
				</a>
			</li>
            <br><br>
			<li>
				<a href="#">
					<span class="icon"><i class="fas fa-cog"></i></span>
					<span class="item" style="color: white;">Settings</span>
				</a>
			</li>
            <br><br>
            <li>
				<a href="#">
					<span class="icon"><i class="fas fa-cog"></i></span>
					<span class="item" style="color: white;">Logout</span>
				</a>
			</li>
		</ul>
	</div>

