<div class="whole">
    <div class="memberContainer1">
        <img src="../../assets/images/man-isolated-showing-facial-emotions 1.png">
        <p>Alen<br>MCA<br>3 Year<br>Bangalore</p>
        <button class="view">view</button>
    </div>
    <div class="memberContainer2">
        <img src="../../assets/images/cheerful-curly-business-girl-wearing-glasses 2.png">
        <p>Sarah<br>MSc<br>2 Year<br>Chennai</p>
        <button class="view">view</button>
    </div>
    <div class="memberContainer3">
        <img src="../../assets/images/adult-serious-businessman-looking-camera 1.png">
        <p>Vivek<br>BTech/CSE<br>5 Year<br>Thiruvanandapuram</p>
        <button class="view">view</button>
    </div>
    <div class="memberContainer4">
        <img src="../../assets/images/cheerful-indian-businessman-smiling-closeup-portrait-jobs-career-campaign 2.png">
        <p>DeepakRoy<br>BTech/EEE<br>2 Year<br>Calicut</p>
        <button class="view">view</button>
    </div>
</div>