<!-- <div class="grid-container">
    <div class="grid-item item1">
        <app-sidebar></app-sidebar>
    </div>
   
    <div class="grid-item item2">
        <router-outlet></router-outlet>
    </div>
</div> -->

<div class="container-fluid">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
  
    </div>
  
    <div class="main">
      <div class="header">
      
        <app-header></app-header>
    
      </div>
  
      <div class="content">
        <router-outlet></router-outlet>
       
      </div>

     
    </div>
    
  </div>

<div class="row footer">
    <div class="col-md-12">
        <app-footer></app-footer>
    </div>
</div>
