
body {
    background-color: #F2F2F2;
}

#sidebar {
    background-color: #40189D;
}

#sidebar-div .nav .nav-item {
    width: 100%;
    position: relative;
}

    #sidebar-div .nav .nav-item:hover {
        background-color: #F2F2F2;
        color: black;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }

ul.nav .nav-item .nav-link, ul.nav .nav-item .nav-link:visited {
    color: rgb(255, 255, 255) !important;
}

    ul.nav .nav-item .nav-link:hover, ul.nav .nav-item .nav-link:active {
        color: rgb(0, 0, 0) !important;
    }

.nav-item:hover::after {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 100%;
    right: 0;
    height: 100%;
    width: 45px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 30px 0 0 #F2F2F2;
}

.nav-item:hover::before {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 100%;
    right: 0;
    height: 100%;
    width: 45px;
    border-top-right-radius: 30px;
    box-shadow: 0 -30px 0 0 #F2F2F2;
}

#main-content::before {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 0%;
    left: 16.7%;
    height: 25%;
    width: 50px;
    border-top-left-radius: 30px;
    box-shadow: 0px -30px 0 0px #40189D;
}
.nav-item .btn{
    width:100%;

}
    .nav-item .btn:hover {
       
        width: 100%;
        background-color: #F2F2F2;
        color: black;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    .nav-item .btn:focus {
        width: 100%;
        background-color: #F2F2F2;
        box-shadow: inset 0 0 0 0.2rem rgb(255 0 0 / 0%);
        border-bottom-left-radius: 25px;
    }
@media (max-width: 700px) {
    .img-logo {
       max-width:30px;
    }
    .img-logo-title{
        display:none;
    }
    .left-div {
        display: none;
    }
}