<div class="container-fluid px-0 ">
  
  <div class="row flex-nowrap d">
    <div class="col-auto  sidebar min-vh-100 px-0 ">
      <app-sidebar> </app-sidebar>
      

    </div>
    
      <div class="col-md-9 ">
     <app-header></app-header>
      <app-parent></app-parent>
    
  </div>

</div>
<div class="article">
  <img src="../assets/image/smiley-businesswoman-posing-outdoors-with-arms-crossed-copy-space 1.png" height="100%">
</div>
<div class="row">
  <div class="col-md-12">
    <app-footer></app-footer>
  </div>
</div>
