
<div class="container-fluid">
<div class="row"  style="background: #20A6FC; height: 400px;">
    <div class="col-md-12" id="footer" style="background-repeat: no-repeat;">
        
        <div class="footer  mt-5">
            <h2 class="h2-fluid text-white text-center">Get Notified Every New Job</h2>
            <p class="text-center text-white">Ideal platform for seekers passionate about startups and seeking new career opportunities.</p>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="input-group bg-white rounded p-2 ">
                    <input  type="search" class="form-control border-0 " placeholder="Type Your Email Address " aria-label="Search" aria-describedby="search-addon">
                    <button class="btn text-white" style="background-color: #20A6FC;">Subscribe</button>
                </div></div>
                <div class="col-md-3"></div>
            </div>
            
        </div>

    </div>
</div>

<div class="row p-5 bg-white">
    <div class="col-md-1"></div>

<div class="col-md-4  pl-5">
    <h4>HireMe Now</h4>
    <p class="small text-secondary">Ideal platform for job seekers<br> passionate about startups and <br>seeking new career opportunities.</p>
    <a href="#"><img class="img-fluid p-2" src="../../../../assets/images/Subtract.png"></a>
    <a href="#"><img class="img-fluid p-2" src="../../../../assets/images/Group 33789.png"></a>
    <a href="#"><img class="img-fluid p-2" src="../../../../assets/images/twitter icon.png"></a>
    <a href="#"><img class="img-fluid p-2" src="../../../../assets/images/linkedin icon.png"></a>
    <a href="#"><img class="img-fluid p-2" src="../../../../assets/images/facebook icon.png"></a>
 
</div>

<div class="col-md-2 pl-5 ">
    <h4>About us</h4>
    <a class="text-secondary text-decoration-none" href="#">About us</a><br>
    <a class="text-secondary text-decoration-none" href="#">Home</a><br>
    <a class="text-secondary text-decoration-none" href="#">Feature</a><br>
    <a class="text-secondary text-decoration-none" href="#">Team</a><br>
    
</div>

<div class="col-md-2 pl-5">
    <h4>Company</h4>
    <a class="text-secondary text-decoration-none" href="#">Contact us</a><br>
    <a class="text-secondary text-decoration-none" href="#">Career</a><br>
    <a class="text-secondary text-decoration-none" href="#">Pricing</a><br>
    <a class="text-secondary text-decoration-none" href="#">Blog</a>
    
</div>

<div class="col-md-2 pl-5">
    <h4>Support</h4>
    <a class="text-secondary text-decoration-none" href="#">Support</a><br>
    <a class="text-secondary text-decoration-none" href="#">Privacy</a><br>
    <a class="text-secondary text-decoration-none" href="#">FAQ</a><br>
</div>


</div>
    
    
<div class="row  p-3 bg-white">
    <div class="col-md-1"></div>
        <div class="col-md-9 border-2 border-top py-4">
        <a class="text-secondary text-decoration-none" href="#">Terms & conditions | Privacy Policy</a>
    </div>
    <div class="col-md-1"></div>
</div>
</div>

