@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.sidebar{
    background-color:indigo;
    width: 250px;
    height: 800px;
}
.items{
    text-indent: 30px;
}
