<img class="firstimage" src="../../assets/image/amazon-png-logo-vector-6706 (1).png">
<div class="header"><h2> <b>Lokeran</b></h2></div>
<p class="first">
    Amet minim mollit non deserunt ulla </p>
    <p class="second">mco estsit aliqua dolor do amet sint.</p>
    <p class="third">velit officia con
</p>
<div class="mainimage">
<img class="images" src="../../assets/image/side image.jpg" height="20px"> <img class="images" src="../../assets/image/side image.jpg"height="20px"><img class="images" src="../../assets/image/side image.jpg"height="20px"><img class="images" src="../../assets/image/side image.jpg"height="20px"><img class="images" src="../../assets/image/side image.jpg"height="20px">
</div>
<ul class="firstrow">
    <li class="bold"> About Us</li><br>
    <li>About Us</li><br>
    <li>Home</li><br>
    <li>Feature</li><br>
    <li>Team</li><br>
</ul>
<ul class="secondrow">
    <li class="bold"> Company</li><br>
    <li>Contact Us</li><br>
    <li>Career</li><br>
    <li>Pricing</li><br>
    <li>Blog</li><br>
</ul>
<ul class="thirdrow">
    <li class="bold"> Support</li><br>
    <li>Support</li><br>
    <li>Privacy</li><br>
    <li>FAQ</li><br>
   
</ul>
<ul class="fourthrow">
    <li class="bold"> Service</li><br>
    <li>SEO</li><br>
    <li>UI Designer</li><br>
    <li>Developer</li><br>
    <li>Accountand</li><br>
</ul>
<hr class="line">
<div class="terms">
    Terms and conditions|Privacy policy
</div>
<div class="copy">Copyright 2020 All right reserved

</div>
