<div class="container-main">
    <div class="container-1">
        <div class="container-1-heading">
            <img src="assets\images\Vector (2).png">
            <h1>Lokeran</h1>
        </div>
        <p>Amet minim mollit non deserunt ulla <br> mco estsit aliqua dolor do amet sint. <br> Velit officia con</p>
    </div>
    <div class="container-2">
        <div>
            <div class="heading">About us</div>
            <ul class="sublist">
                <li><a href="#">About us</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Feature</a></li>
                <li><a href="#">Team</a></li>
            </ul>
        </div>
        <div>
            <div class="heading">Company</div>
            <ul class="sublist">
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Career</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div>
            <div class="heading">Support</div>
            <ul class="sublist">
                <li><a href="#">Support</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Faq</a></li>
            </ul>
        </div>
        <div>
            <div class="heading">Service</div>
            <ul class="sublist">
                <li><a href="#">SEO</a></li>
                <li><a href="#">UI Design</a></li>
                <li><a href="#">Developer</a></li>
                <li><a href="#">Accountant</a></li>
            </ul>
        </div>
    </div>
    <div class="social-media">
        <img src="assets\images\Subtract.png" alt="Image 1" class="social">
        <img src="assets\images\Group 33789.png" alt="Image 2" class="social">
        <img src="assets\images\twitter icon.png" alt="Image 3" class="social">
        <img src="assets\images\linkedin icon.png" alt="Image 4" class="social">
        <img src="assets\images\facebook icon.png" alt="Image 5" class="social">
    </div>

</div>
<div class="bottom">
    <div class="bottom-left">
        <p>Terms and conditions | Privacy Policy</p>
    </div>
    <div class="bottom-right">
        <p>Copyright<span>&copy;</span> 2020. All rights reserved</p>
    </div>
</div>
