.container{width: 500px;
           height: 500px;
           background-color: yellow;
           position: relative;
           top: 100px;
         left: 400px;
        border-radius: 50%;}

        .eye_left{width: 150px;
            height: 150px;
                background-color: white;
                position: relative;
                top: 140px;
                left: 76px;
                float: left;
                border-radius: 50%;
              
              transition:all;}


        .eye_right{width: 150px;
            height: 150px;
          background-color: white;
          position: relative;
          top: 156px;
          left: 132px;
          float: left;
          border-radius: 50%;
        transition: all;}

          .left_in{width: 50px;
            height: 50px;
            background-color: black;
            border-radius: 50%;
            position: absolute;
            top: 101px;
            left: 52px; 
           
            float: left;
            transform: rotate(0deg);
            transition: transform 0.7s linear;
          
        }
         .left_in:hover{  animation-name: myfirst;
                           animation-duration: 1s;
                           animation-timing-function: linear;
                        }



          @keyframes myfirst
             { 
              0% {
              transform: rotate(0deg) translateX(550px) rotate(0deg);
              }
              100% {
              transform: rotate(360deg) translateX(550px) rotate(-360deg);
              }
             }
        
              /* 10% {
              transform: translate(-100px,-5px); transform: 45(deg);
          }
      
             20% {
              transform: translate(-20px,-10px);
          }
          30%{ transform: translate(-20px,-30px);}

          40%{ transform: translate(-5px,-40px);}

          50%{ transform: translate(10px,-40px);}

          60%{ transform: translate(50px,-20px);}
         70%{ transform: translate(20px,-10px);}
         80%,100%{ transform: translate(0px,0px);} */

      

         .right_in{ width: 50px;
          height: 50px;
          background-color: black;
          border-radius: 50%;
          position: relative;
          top: 91px;
          left:52px;
          float: left;}

          .right_in:hover{  animation: myfirst 5s; 
                           
          }



@keyframes myfirst{

  0% { transform: rotate(0deg)  translateX(25px)  rotate(0deg);

  }

100%{transform: rotate(360deg) translateX(25px)  rotate(-360deg);}              
       
} 
  
.lip {
    width: 200px;
    height: 100px;
    position: relative;
    top: 291px;
    left: 144px;
    border: 5px solid transparent;
    border-bottom: 10px solid;
    border-radius: 50%;
}

.lip:hover{
    width: 200px;
    height: 100px;
    background-color: aliceblue;
    border: 5px solid;
    border-top-left-radius:0px ;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: relative;
    top: 310px;

            }   



      


   