.container
{
    display: flex;
    justify-content: space-between;
 
   
}
a{
    margin-left: 30px;
    text-decoration: none;
    color: gray;
    font-family:Bahnschrift;
}

.left
{
    font-size: x-large;
    font-weight: 800;
}

.right
{
    font-size: large;
    display: flex;
    align-items: center;
}

.right img,
.right a {
    vertical-align: middle;
}

.right img {
    margin-left: 20px;
}