<div class=" footer container-fluid bg-primary text-center text-white">
    <div class="row">
      <div class="col-3 bg-primary"></div>
      <div class=" col-md-7 d-none d-sm-inline">
        <h1 class="mt-5">Get Notified Every New Job</h1>
        <p class="fs-5">Ideal platform for jobseekers passionate about startups and <br> seeking new career opprotunities</p>
        <div class="bg-white mb-5 mt-5 w-100 border rounded"><input type="search" placeholder="Type your Email address" class=" border-0 w-75 "> <button class="btn btn-primary border rounded">subscribe</button></div>

      </div>
      <div class="col-2"></div>
    </div>
    <div class="row bg-white text-black">
      <div class="col-lg-3 col-md-4">
        <h4 class="d-none d-sm-inline">HireMe Now!</h4>
        <p class=" mt-5 d-none d-sm-inline">Ideal platform for jobseekers passionate about startups and seeking new career opprotunities.</p>
        <a class="text-info text-decoration-none" href="">
        <i class="bi bi-youtube bi-5x d-none d-sm-inline"></i>
        <i class="bi bi-instagram ms-1 d-none d-sm-inline"></i>
        <i class="bi bi-twitter ms-1 d-none d-sm-inline"></i>
        <i class="bi bi-linkedin ms-1 d-none d-sm-inline"></i>
        <i class="bi bi-facebook ms-1 d-none d-sm-inline"></i></a>
      </div>
      <div class="col-lg-1 col-md-1"></div>
      <div class="col col-md-2 d-none d-sm-inline">
        <h5>About us</h5>
        <p class="mt-4">About us</p>
        <p>Home</p>
        <p>Feature</p>
        <p>Team</p>
      </div>
      <div class="col-lg-2 col-md-2 d-none d-sm-inline">
        <h5>Company </h5>
        <p class="mt-4">Contact us</p>
        <p>career</p>
        <p>Pricing</p>
        <p>Blog</p>
      </div>
      <div class="col-lg-2 col-md-2 d-none d-sm-inline">
        <h5>Support</h5>
        <p class="mt-4">Support</p>
        <p>Privacy</p>
        <p>FAQ</p>
        <p>Team</p>
      </div>
      <div class="col-lg-2 col-md-2 d-none d-sm-inline">
        <h5>Service</h5>
        <p class="mt-4">SEO</p>
        <p>Ui Design</p>
        <p>Developer</p>
        <p>Accountant</p>
      </div>
    </div>
    <div class="row bg-white text-black">
      <hr class="d-none d-sm-inline">
    <div class="col-6 text-start d-none d-sm-inline"><p>Terms & Conditions | Privacy Policy</p></div>
    <div class="col-6 text-end d-none d-sm-inline">Copyright © 2023. All right reserved </div>
  </div>
  </div>



