<div class="main">
    <br>
    <div class="picture">
        &nbsp;&nbsp;<img src="../../assets/image/Group 8.png">&nbsp;&nbsp;<img src="../../assets/image/Hire me Now.png">
      <br>
      <br><br>
      <br>
      <div class="last">
       <p style="color: white;"><img src="../../assets/image/Vector (2).png">&emsp;Dashbord</p>
       <p style="color: white;"><img src="../../assets/image/image 10.png">&emsp;Job Provider</p>
       <p style="color: white;"><img src="../../assets/image/image 3.png">&emsp;New Registration</p>
       <p style="color: white;"><img src="../../assets/image/image 9.png">&emsp;Job Seeker</p>    
       <p style="color: white;"><img src="../../assets/image/ic_search.png">&emsp;Jobs</p>
       <p style="color: white;"><img src="../../assets/image/Group 239604.png">&emsp;My Profile</p>
       <p style="color: white;"><img src="../../assets/image/image 9.png">&emsp;Message</p>
       <p style="color: white;"><img src="../../assets/image/image 4 (1).png">&emsp;Settings</p>
       <p style="color: white;"><img src="../../assets/image/image 8.png">&emsp;Logout</p>
      </div>
    </div>
    </div>

