@page
@model Workshop1.Pages.HomeModel
@{
    Layout = "_home";
}
<body>
    <div class="comtainer-fluid">
        <br />
        <h1>Welcome to home page</h1>
        <input type="search" name="name" value="" />

    </div>
</body>
