/* header.component.css */
header {
    background-color: #ffff;
    height: 60px;
    padding: 10px;
    color: #040303;
    border-bottom: 1px solid rgb(8, 8, 8);
  
  }

  
  nav {
    float:right
  }
  
  .logo {
    font-size: 20px;
   
  }
  
  .menu {
    display: flex;
  }
  
  .menu a {
    color: #080505;
    margin-left: 20px;
    text-decoration: none;
  }
  .word-wrap{
    margin-left: 10px;
  }
  a:hover{
    background-color: rgb(232, 237, 237);
  }
  
  .icon {
    display: none;
    cursor: pointer;
  }
  span{
    color: grey;
  }
  
  .icon i {
    color: #fff;
    font-size: 24px;
  }
  

  /* drop down menu*/

  .profile-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    list-style: none;
    margin: 0;
    display: none;
  }
  
  .dropdown-menu li {
    margin-bottom: 5px;
  }
  
  .dropdown-menu a {
    color: #333;
    text-decoration: none;
  }
  
  .dropdown-menu a:hover {
    color: #555;
  }
  
  .dropdown-menu[hidden] {
    display: none;
  }

  /* end drop down menu */




  @media screen and (max-width: 600px) {
    .menu {
      display: none;
    }
  
    .icon {
      display: block;
    }
  
    .responsive {
      display: flex;
      flex-direction: column;
    }
  
    .responsive a {
      margin: 10px 0;
    }
  }