<div class="row p-2 rounded bg-white m-1 mt-3">

    <div class="col-md-1"></div>
        <div class="col-md-6 p-4 border-bottom border-2  ">
            <h3>Post Job</h3>
        </div>
        <form [formGroup]="addJobForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">

            <div class="form-group p-4">
                <label for="exampleInputEmail1">Job Title</label>
                <input type="email" class="form-control  py-4"  formControlName="jobTitle" aria-describedby="emailHelp" placeholder="please enter your job Title">
                <div  class="error-message" *ngIf="addJobForm.controls['jobTitle'].invalid && addJobForm.controls['jobTitle'].touched">
                    Job Title is required.
                  </div>
                </div>
          
                <div class="form-group p-4">
                <label for="exampleInputEmail1">Company Name</label>
                <input type="email" class="form-control  py-4"  formControlName="companyName" aria-describedby="emailHelp" placeholder="please enter your company name">
                <div  class="error-message" *ngIf="addJobForm.controls['companyName'].invalid && addJobForm.controls['companyName'].touched">
                    Company Name is required.
                  </div>
                </div>

                <div class="form-group p-4">
                <label for="exampleInputUsername1">Loaction</label>
                <input type="Username" class="form-control py-4" id="exampleInputUsername1"  formControlName="location" placeholder="please enter your location" >
                <div  class="error-message" *ngIf="addJobForm.controls['location'].invalid && addJobForm.controls['location'].touched">
                    Location is required.
                  </div>
                </div>

                <div class="form-group p-4">
                    <label for="exampleInputUsername1">Job Description</label>
                    <textarea  class="form-control py-4" formControlName="jobDescription" placeholder="jobescription"></textarea>
                    
                    <div  class="error-message" *ngIf="addJobForm.controls['jobDescription'].invalid && addJobForm.controls['jobDescription'].touched">
                        jobDescription is required.
                      </div>
                    </div>

                <div class="form-group p-4">
                <label for="exampleInputEmail1">Job Type</label>
                <input type="email" class="form-control  py-4" id="exampleInputEmail1" formControlName="jobType" aria-describedby="emailHelp" placeholder="Job type">
                <div  class="error-message" *ngIf="addJobForm.controls['jobType'].invalid && addJobForm.controls['jobType'].touched">
                    Job Type is required.
                  </div>
                  
                </div>

                <div class="form-group p-4">
                <label for="exampleInputUsername1">Salary</label>
                <input type="Username" class="form-control  py-4" id="exampleInputUsername1" formControlName="salary" placeholder="Please enter salary">
                <div  class="error-message" *ngIf="addJobForm.controls['salary'].invalid && addJobForm.controls['salary'].touched">
                    Salary is required.
                  </div>
                  
                </div>
                <div class="form-group p-4">
                    <label for="exampleInputUsername1">Onsite</label>
                    <input type="Username" class="form-control  py-4" id="exampleInputUsername1" formControlName="onsite" placeholder="Please enter salary">
                    <div  class="error-message" *ngIf="addJobForm.controls['onsite'].invalid && addJobForm.controls['onsite'].touched">
                       Onsite /Remote
                      </div>
                      
                    </div>
           

            <div class="row">
                <div class="col-md-4 p-4 ms-3 d-inline"><button type="submit" class="btn p-2 text-white px-5" style="background-color: #20A6FC;">Post Job</button></div>
                

        </div>
        
    </div>
</div>

</form>


