.view {
    float: right;
    padding: 2% 10%;
    background-color: cornflowerblue;
    border-radius: 20%;
}

.memberContainer1 {
    width: 40%;
    font-size: 1.5rem;
    padding: 4%;
}

.memberContainer2 {
    width: 40%;
    font-size: 1.5rem;
    position: absolute;
    top: 4%;
    right: 0%;
    font-size: 1.5rem;
    padding: 4%;
}

.memberContainer3 {
    width: 40%;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 4%;
    font-size: 1.5rem;
    padding: 4%;
}

.memberContainer4 {
    width: 40%;
    font-size: 1.5rem;
    position: absolute;
    top: 48%;
    right: 0%;
    font-size: 1.5rem;
    padding: 4%;
}