body{
   overflow: hidden;
}
.container{
    position: absolute;
    width: 750px;
    height: 1024px;
    left: 0px;
    top: 0px;
    background: #64B7F5;
}
.leftContainer{
    margin-left: 145px;
    margin-top: 70px;
    box-sizing: border-box;
    position: absolute;
    width: 609px;
    height: 600px;
    background: #FFFEFE;
    border: 1px solid #FFFFFF;
    border-radius: 81px 0px 0px 81px;
}
.rightContainer{
    position: absolute;
    width: 650px;
    height: 600px;
    margin-top: 70px;
    margin-left: 750px;
    border-radius: 0px 86px 84px 19px;
    background-color:mistyrose;
}
.logo img{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 60px;
    margin-left: 270px;

}

