.container{
    width: 400px;
    height: 450px;
    border: 1px solid black;
    margin: auto;
}
.logo{
    width: 50px;
    margin-left: 170px;
    margin-top: 12px;
}
h2{
    margin-left: 125px;
}
.log{
    width: 300px;
    height: 50px;
    border-color: antiquewhite antiquewhite antiquewhite antiquewhite ;
    box-shadow: 1px 1px 1px 1px ;
    margin-left: 50px;
    margin-top:-10px ;
}
img{
width: 40px;
margin-left: 10px;
margin-top: 10px;
}
.para1{
    font-weight: bold;
    color: blue;
    margin-left: 100px;
    margin-top: -40px;
}
.para2{
    font-weight: bold;
    font-size: 13px;
    opacity: .5;
    margin-left: 118px;
    margin-top: 20px;
}
.input1{
width: 300px;   
 height: 30px;
 margin-left: 50px;
}
form{
    margin-top:30px ;
}

#input2{
    margin-left: 50px;
    margin-top: 5px;
 
}
.para3{
    font-size: 15px;
    font-weight: bold;
    margin-left: 70px;
    margin-top: -20px;

}
button{
    position: relative;
    left: 50px;
    top: -20px;
    width: 310px;   
    height: 35px;
    background-color: rgb(31, 105, 173);
    border: 1px solid rgb(27, 110, 187);
    border-radius: 10px;
    color: white;
    font-weight: bold;



}