<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/publicassets/css/landingstyle.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
 @await RenderSectionAsync("Scripts", required: false)
</html>
