<div class="main-body">
    <p style="font-size: large; text-indent: 10px;">Welcome,Leslie</p>
    <p style="text-indent: 10px;">Tue, 07 June 2023</p>  <p style="float: right; margin-top: -45px;"><img src="https://cdn-icons-png.flaticon.com/128/3602/3602123.png" width="20px" height="20px"> <img src="https://cdn-icons-png.flaticon.com/128/11498/11498793.png" width="30px" height="30px"></p>
    <div class="box1">
        
        <img src="https://cdn-icons-png.flaticon.com/128/11498/11498793.png" width="40px" height="40px">
        <h3 style="margin-top: -5px;"><b>Leslie Alexander</b></h3>
        <p style="margin-top: -5px;">UI UX Designer</p>
        <p style="background-color: lightskyblue; width: 60%; border-radius: 8px;"><img src="https://cdn-icons-png.flaticon.com/128/10822/10822265.png" width="20px" height="20px">Resume</p>
        <p><img src="https://cdn-icons-png.flaticon.com/128/893/893257.png" width="20px" height="20px">alexanderleslie@gmail.com</p>
        <p style="margin-left: -100px;"><img src="https://cdn-icons-png.flaticon.com/128/4213/4213179.png" width="20px" height="20px">123456789</p>
        <p style="margin-left: -100px;"><img src="https://cdn-icons-png.flaticon.com/128/149/149060.png" width="20px" height="20px">Location</p>
        
    </div>
    <br>
    <div class="box2">
        <h4 style="text-indent: 10px;">About Me</h4>
        <p style="text-indent: 10px;">In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. </p>
    </div>
    
    <div class="box3">
        <h4><img src="https://cdn-icons-png.flaticon.com/128/1602/1602641.png" width="30px" height="30px">Skills</h4>
        <ul>
            <li>UX research skills</li>
            <li>Wireframing and prototyping skills</li>
            <li>UX writing skill</li>
        </ul>
    </div>

    <div class="box4">
        <h4><img src="https://cdn-icons-png.flaticon.com/128/1940/1940569.png" width="30px" height="30px">Education</h4>
        <ul>
            <li>Bachelor of Arts-Design</li>
            <li>Field & Fort University</li>
            <li>Top 10 percentile of the class</li>
            <li>Master of Arts</li>
        </ul>
    </div>
    <div class="box5">
        <h4><img src="https://cdn-icons-png.flaticon.com/128/11192/11192644.png" width="30px" height="30px">Experiance</h4>
        <p>Advertising Speciality Institute, San Fracisco,TX Graphic Designer Dec'18'.June '20'<br>Advertising Age.Graphic DesignnInter jsvb.</p>
    </div>
</div>
