@page "/Index"
@model IndexModel


<body class="bg-light">
    <div class="container mt-5">
        <h1 class="text-center mb-4 text-success">Person Information</h1>

        <div class="row">
            <div class="col-md-6">
                <form method="post" class="bg-white p-4 rounded shadow">
                    <div class="mb-3">
                        <label for="id" class="form-label">ID:</label>
                        <input type="text" id="id" name="Id" class="form-control" required />
                    </div>

                    <div class="mb-3">
                        <label for="name" class="form-label">Name:</label>
                        <input type="text" id="name" name="Name" class="form-control" required  />
                    </div>

                    <div class="mb-3">
                        <label for="age" class="form-label">Age:</label>
                        <input type="text" id="age" name="Age" class="form-control" required />
                    </div>

                    <button type="submit" class="btn btn-success">Add Person</button>
                </form>
            </div>

            <div class="col-md-6">
                <h2 class="text-center text-success mb-4">Person List</h2>
                <ul class="list-group">
                    @foreach (var person in IndexModel.Persons)
                    {
                        <li class="list-group-item"> @person.Name, Age: @person.Age </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</body>

