<div class="main">
    <h5 class="find">Find Jobseeker</h5>
    <div class="whiteb">
    <img src="../../assets/images/search copy 2.png" class="copy">
    <input type="text" placeholder="Search by Job Title,Qualification,Industry" class="search">
    <img src="../../assets/images/icon filter (1).png" class="filter">
   </div>
   <div class="buttons">
       <button class="btn1">Location</button><button class="btn2">Experience</button><button class="btn3">Category</button><button class="btn4">Skills</button>
   </div>
   
  <div>
    <button class="imag1"><img src="../../assets/images/icon.png" align="left" class="icon1"><p class="para1" align="left">Interviews <span class="num1">8</span><br>Sheduled</p></button>
    <button class="imag2"><img src="../../assets/images/icon.png" align="left" class="icon1"><p  class="para1"align="left">Applications<span class="num1">127</span><br>Received</p></button>
    <button class="imag3"><img src="../../assets/images/icon (1).png" align="left" class="icon1"><p  class="para1"align="left">Total Jobs<span class="num1">49</span><br>Posted</p></button>
  </div>
   <div> 
    <img src="../../assets/images/smiling.png" class="smiling">
   </div>
</div>