<<<<<<< HEAD
.nav-item{
    color: white;
    text-decoration: none;
}
a{
    color: white;
    font-size:larger;
    text-decoration: none;
    
}
img{
    border-radius: 15px;
    margin-left: 100px;
    margin-top: 30px;
}
.profile{
    color: white;
    font-size: x-large;
=======
.nav-item{
    color: white;
    text-decoration: none;
}
a{
    color: white;
    font-size:larger;
    text-decoration: none;
    
}
img{
    border-radius: 15px;
    margin-left: 100px;
    margin-top: 30px;
}
.profile{
    color: white;
    font-size: x-large;
>>>>>>> a06a0ef73be60bc575a99990d3b212d1bc8ee36f
}