<div class="container-fluid">
    <div class="row">
        <div>
             <div>
                <ul style="list-style-type: none;">
                    <h3 style="color: white;" align="center" class="d-none d-sm-inline">HireMe Now!</h3>
                    <img src="../../assets/images/Ellipse 1.png" class="d-block mx-auto d-none d-sm-inline">
                    <br>
                    <p align="center" style="background-color: green; " class="open d-none d-sm-inline ms-3">Open To Work</p><br>
                    <p align="center" style="color: white;" class="d-none d-sm-inline">Leslie Alexander</p>
                    <p style="color: white;" class="d-none d-sm-inline">Alexanderleslie@mail.com</p><br><br>
                    <li class="text-white "><i class="bi bi-building-fill fs-5"></i><span class="d-none d-sm-inline">All Jobs</span></li>
                    <li class="text-white mt-2 "><i class="bi bi-file-bar-graph fs-5"></i><span class="d-none d-sm-inline"> Applications</span></li>
                    <li class="text-white mt-2 "><i class="bi bi-chat-left-text-fill fs-5"></i><span class="d-none d-sm-inline">Messages</span></li>
                    <li class="text-white mt-2 "><i class="bi bi-person-fill fs-5"></i><span class="d-none d-sm-inline">Profile</span></li>
                    <li class="text-white mt-2 "><i class="bi bi-gear"></i><span class="d-none d-sm-inline">Settings</span></li>
                    <!-- <li class="mt-5"></li> -->
                   
                </ul>
             </div>
        </div>

    </div>
</div>
