<nav class="navbar">
    <div class="navbar-left">
        <ul class="nav-items">
        <h2><li><a>Companies</a></li></h2> 
        </ul>
    </div>
    <div class="navbar-right">
        <ul class="nav-items">
        <li >
            <a  href="#"><img src="../../assets/images/notification.png"></a>
        </li>
        <li><a><img src="../../assets/images/notification (1).png"></a></li>
        </ul>
        <div class="profile">
            <img src="../../assets/images/profilePicture.png" alt="Profile Picture" />
            <div class="profile-info">
                <h2>Oda Dink</h2>
                <p>Super Admin</p>
            </div>
        </div>
    </div>
</nav>
