<div class="space"><h1>Hire Me Now</h1>
</div>


    

<br>
<ul type="none">
    <li><img src="../../assets/image/dashboard 1 (2).png"  [routerLink]="['/content']" routerLinkActive="active">All Jobs</li>
    <li><img src="../../assets/image/suitcase 2 (1).png" [routerLink]="['/my-application']" routerLinkActive="active">My Applications</li>
    <li><img src="../../assets/image/application (1) 1 (2).png">Messages</li>
    <li ><img src="../../assets/image/question (1) 1 (2).png">Profile</li>
    <li><img src="../../assets/image/settings 1 (1).png">Settings</li>



    
</ul>
