 @model Mvc_HireMeNow.Dtos.JobDto;
@{
	Layout = "_JobProviderLayout";
}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div  class="row">
			
 			<div class="col-md-10">
 				<div class="row">
 					<div class="col-md-12 mt-5 mb-3 border-bottom">
						<img class="img-fluid float-right m-2 pt-4" src="/publicassets/JobProvider/PostJob/images/arrow-down.png">
 						<span class="float-right pt-3 m-2"><strong>Olivia</strong></span>
						<img class="img-fluid float-right" src="/publicassets/JobProvider/PostJob/images/cheerful-curly-business-girl-wearing-glasses 2.png">
						<img class="img-fluid float-right pt-2 m-2 " src="/publicassets/JobProvider/PostJob/images/Group 5689.png" width="30" height="30">
 					</div>
 				</div>
 				<div class="row">
					 <form method="post">
 					<div class="col-md-10 p-5 mx-auto d-block border rounded mb-5" style="border-radius: 30px; box-shadow: 0px 0px 5px 2px gray;">
 						<div class="row">
 							<div class="col-md-10">
 								<div class="form-group">
	 								<label for="jobTitle"><h4>Job Title</h4></label>
	 								<br>
									<input asp-for="Title" class="form-control p-4 bg-light" type="text" name="Title" placeholder="Enter Job Title">
	 							</div>
	 							<div class="form-group">
	 								<label for="description"><h4>Description</h4></label>
	 								<br>
									<input asp-for="Description" class="form-control p-4 bg-light" type="text" name="Description" placeholder="Enter Description">
	 							</div>
	 							<div class="form-group">
	 								<label for="Salary"><h4>Salary</h4></label>
	 								<br>
									<input asp-for="Salary" class="form-control p-4 bg-light" type="text" name="Salary" placeholder="Enter Salary">
	 							</div>
	 							<div class="form-group">
									<label for="Location"><h4>Location</h4></label>
	 								<br>
									<input asp-for="Location" class="form-control p-4 bg-light" type="text" name="Location" placeholder="Enter Location">
	 							</div>
									<div class="form-group">
										<label for="Location"><h4>TypeOfWork</h4></label>
										<br>
										<input asp-for="TypeOfWork" class="form-control p-4 bg-light" type="text" name="Location" placeholder="Enter Location">
									</div>
 							</div>
 						</div>
	 					<div class="row pt-4">
	 						<div class="col-md-3">
 								<button class="btn bg-primary pl-5 pr-5"> Post Job</button>
 							</div>
							 @if(TempData["Message"]!=null)
								{
									<p>@TempData["Message"]</p>
									
								}
								<div class="col-md-3">
 								<label >Push Notification</label>
									<img class="img-fluid" src="/publicassets/JobProvider/PostJob/images/Group 14.png">
 							</div>
 							<div class="col-md-3">
 								<label>Email Notification</label>
									<img class="img-fluid" src="/publicassets/JobProvider/PostJob/images/Group 14.png">
							</div>
 						</div>							
 					</div>
					 </form>
 				</div>
 			
			</div>
		</div>
	</div>
</body>
</html>