/* header.component.css */

.header {
    background-color: #7aaada;
    color: #333;
    padding: 20px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title h1 {
    margin: 0;
  }
  
  .welcome{
    margin: 0;
    margin-right: 500px;
  }
  