<div class="action-btn">
    <h2 [routerLink]="['/remove-registered-details']" routerLinkActive="active">List Of Members</h2>
</div>

<div class="row">
    <div class="col">
      <h2>Registration of New Member</h2>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="grid-form">
          <div class="form-row">
            <label for="fname">First Name:</label>
            <input type="text" id="fname" formControlName="fname" placeholder="Please enter first name">
          </div>
          <div class="form-row">
            <label for="lname">Last Name:</label>
            <input type="text" id="lname" formControlName="lname" placeholder="Please enter last name">
          </div>
          <div class="form-row">
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email" placeholder="Please enter Email Address">
          </div>
          <div class="form-row">
            <label for="phone">Phone Number:</label>
            <input type="text" id="phone" formControlName="phone" placeholder="Please enter Phone number">
          </div>
          <div class="form-row">
            <label for="designation">Designation:</label>
            <input type="text" id="designation" formControlName="designation" placeholder="Please enter Designation">
          </div>
          <div class="form-row">
            <label for="userId">User ID:</label>
            <input type="text" id="userId" formControlName="userId" placeholder="Please enter UserId">
          </div>
          <div class="form-row">
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password" placeholder="Please enter Password in 8 characters">
          </div>
          <div class="form-row">
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Please Confirm your Password">
          </div>
        </div>
        <div class="btn"><button type="submit" [disabled]="registrationForm.invalid">Register</button></div>
      </form>
    </div>
  </div>
  