<<<<<<< HEAD
.input{
    width: 80%;
    height: 60px;
    border-radius: 15px;
    border-style: solid;
}
=======
.input{
    width: 80%;
    height: 60px;
    border-radius: 15px;
    border-style: solid;
}
>>>>>>> a06a0ef73be60bc575a99990d3b212d1bc8ee36f
