<div class="sidebar">
    <app-sidebar></app-sidebar>
</div>
<div class="header">
    <div class="bell">
        <img src="../../assets/images/notification-bing.png">
    </div>
    <div class="girlPic">
        <img src="../../assets/images/cheerful-curly-business-girl-wearing-glasses 2.png" height="60%" width="60%">
    </div>
    <div class="logout" [routerLink]="['/login']">
        <img src="../../assets/images/mi_log-out.png" height="60%" width="60%">
    </div>
</div>
<div class="login" [routerLink]="['/login']" routerLinkActive="active">
     Login
</div>
<div class="container">
<div class="ChangeUsername">
<h3>Change Username</h3>
<hr>
    <form [formGroup]="usernameForm" (ngSubmit)="changeUsername()">
       
        <label for="fullname">Full name</label><br>
        <input id="fullname" name="fullname" type="text" formControlName="fullname" placeholder="Plaese enter your full name" [(ngModel)]="fullname" required>

        <label for="username">User name</label><br>
        <input id="username" type="text" name="username" formControlName="username" placeholder="Plaese enter your username" [(ngModel)]="username" required>
         
        <label for="email">Email</label><br>
        <input id="email" type="text" name="email" formControlName="email" placeholder="Please Enter your email " [(ngModel)]="email" required>

        <label for="phone">Phone Number</label><br>
        <input id="phone" type="text" name="phone" formControlName="phone" placeholder="Please enter your phone number"  required>

       

        <button type="submit">Update Profile</button><br>
    </form>
</div>
<div class="changePassword">
<h3>Change Password</h3>
<hr>
    <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
    
        <label for="username">Username</label><br>
        <input id="username" type="text" name="username" formControlName="username" placeholder="Please enter user id" [(ngModel)]="username" required>
         
        <label for="oldPassword"> Old Password</label><br>
        <input id="oldPassword" type="password" name="oldPassword" formControlName="oldPassword" placeholder="Please Enter your old password " [(ngModel)]="oldPassword" required>

        <label for="newPassword">new password</label><br>
        <input id="newPassword" type="password" name="newPassword" formControlName="newPassword" placeholder="Please enter your new password" [(ngModel)]="newPassword" required>

        <label for="confirmPassword"> Confirm Password</label><br>
        <input id="confirmPassword" type="password" name="confirmPassword" formControlName="confirmPassword" placeholder="Please enter confirm password" [(ngModel)]="confirmPassword" required>
        
        <button type="submit">Update password</button><br>
    </form>
</div>
</div>
<div class="footer">
    <app-footer></app-footer>
</div>
