<<<<<<< HEAD
.b {
    background-color: #3d0990;
    width: 800px;
    height: 730px;
    position: relative;

}

.im {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 40px;
    left: 30px;

}

.h {
    color: white;
    position: absolute;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    bottom: 603px;
    left: 90px;
}

.im1 {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 200px;
    left: 30px;

}

.p {
    color: white;
    position: absolute;
    top: 190px;
    left: 90px;

}

.im2 {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 250px;
    left: 30px;

}

.p1 {
    color: white;
    position: absolute;
    top: 240px;
    left: 90px;

}

.im3 {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 300px;
    left: 30px;
}

.p2 {
    color: white;
    position: absolute;
    top: 287px;
    left: 90px;

}

.im4 {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 350px;
    left: 30px;
}

.p3 {
    color: white;
    position: absolute;
    top: 340px;
    left: 90px;

}

.im5 {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 400px;
    left: 30px;

}

.p4 {
    color: white;
    position: absolute;
    top: 390px;
    left: 90px;

}

.im6 {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 450px;
    left: 30px;

}

.p5 {
    color: white;
    position: absolute;
    top: 440px;
    left: 90px;

}

.im7 {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 500px;
    left: 30px;

}

.p6 {
    color: white;
    position: absolute;
    top: 490px;
    left: 90px;

}

.im8 {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 550px;
    left: 30px;

}

.p7 {
    color: white;
    position: absolute;
    top: 540px;
    left: 90px;

}

.im9 {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 600px;
    left: 30px;

}

.p8 {
    color: white;
    position: absolute;
    top: 590px;
    left: 90px;

}

.t {
    background-color: #f1f0f0;
    width: 1000px;
    height: 730px;
    position: absolute;
    border: 0px solid black;
    top: 0px;
    left: 230px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.im10 {
    position: absolute;
    height: 20px;
    width: 24px;
    top: 55px;
    left: 40px;

}

.p9 {
    color: black;
    position: absolute;
    top: 40px;
    left: 90px;

}

.s {
    position: absolute;
    top: 47px;
    width: 450px;
    border-radius: 30px;
    border: 0px;
    left: 200px;
    height: 30px;
    background-color: #d3d3d3a4;

}

.im11 {
    position: absolute;
    height: 20px;
    width: 24px;
    top: 53px;
    left: 620px;

}

.im12 {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 40px;
    left: 680px;


}

.im13 {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 40px;
    left: 750px;
}

.im14 {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 43px;
    left: 830px;
}

.t1 {
    position: absolute;
    color: black;
    left: 880px;
    top: 28px;

}

.t2 {
    position: absolute;
    color: black;
    left: 880px;
    top: 45px;

}

.im15 {
    position: absolute;
    height: 24px;
    width: 24px;
    top: 120px;
    left: 80px;
}

.t3 {
    position: absolute;
    left: 120px;
    top: 109px;
}

.hr {
    position: relative;
    top: 20px;
    top: 150px;
    right: 285px;
    width: 300px;
    border: none;
    border-radius: 3px;
    height: 4px;
    background: rgba(128, 128, 128, 0.486);
    margin-bottom: 50px;

}

.t4 {
    background-color: white;
    width: 710px;
    height: 500px;
    position: absolute;
    border: 0px;
    top: 200px;
    left: 293px;
    border-radius: 14px;
}

.im19 {
    position: absolute;
    height: 60px;
    width: 60px;
    top: 20px;
    left: 20px;

}

.la {
    top: 90px;
    left: 30px;
    position: absolute;
}

#fullname {
    position: absolute;
    top: 120px;
    width: 400px;
    border-radius: 5px;
    border: 0px;
    left: 20px;
    height: 30px;
    background-color: rgba(199, 235, 241, 0.399);


}

.la1 {
    top: 170px;
    left: 30px;
    position: absolute;
}

#username {
    position: absolute;
    top: 200px;
    width: 400px;
    border-radius: 5px;
    border: 0px;
    left: 20px;
    height: 30px;
    background-color: rgba(199, 235, 241, 0.399);


}

.la2 {
    top: 250px;
    left: 30px;
    position: absolute;
}

#email {
    position: absolute;
    top: 280px;
    width: 400px;
    border-radius: 5px;
    border: 0px;
    left: 20px;
    height: 30px;
    background-color: rgba(199, 235, 241, 0.399);


}

.la3 {
    top: 330px;
    left: 30px;
    position: absolute;
}

#phone {
    position: absolute;
    top: 360px;
    width: 400px;
    border-radius: 5px;
    border: 0px;
    left: 20px;
    height: 30px;
    background-color: rgba(199, 235, 241, 0.399);
}

.bt {
    top: 430px;
    height: 50px;
    width: 130px;
    left: 270px;
    position: absolute;
    color: white;
    background-color: #3d0990;
    border-radius: 10px;
    border: 0px;

}

#t5 {
    position: absolute;
    background-color: white;
    height: 280px;
    width: 440px;
    top: 340px;
    left: 550px;
    visibility: hidden;
    border-radius: 5px;
}

.cancel {
    position: absolute;
    left: 200px;
    top: 240px;

}

#output {
    position: absolute;
    left: 70px;
    width: 700px;

}

.blur1 {
    opacity: .3;
=======
.b {
    background-color: #3d0990;
    width: 800px;
    height: 730px;
    position: relative;

}

.im {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 40px;
    left: 30px;

}

.h {
    color: white;
    position: absolute;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    bottom: 603px;
    left: 90px;
}

.im1 {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 200px;
    left: 30px;

}

.p {
    color: white;
    position: absolute;
    top: 190px;
    left: 90px;

}

.im2 {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 250px;
    left: 30px;

}

.p1 {
    color: white;
    position: absolute;
    top: 240px;
    left: 90px;

}

.im3 {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 300px;
    left: 30px;
}

.p2 {
    color: white;
    position: absolute;
    top: 287px;
    left: 90px;

}

.im4 {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 350px;
    left: 30px;
}

.p3 {
    color: white;
    position: absolute;
    top: 340px;
    left: 90px;

}

.im5 {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 400px;
    left: 30px;

}

.p4 {
    color: white;
    position: absolute;
    top: 390px;
    left: 90px;

}

.im6 {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 450px;
    left: 30px;

}

.p5 {
    color: white;
    position: absolute;
    top: 440px;
    left: 90px;

}

.im7 {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 500px;
    left: 30px;

}

.p6 {
    color: white;
    position: absolute;
    top: 490px;
    left: 90px;

}

.im8 {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 550px;
    left: 30px;

}

.p7 {
    color: white;
    position: absolute;
    top: 540px;
    left: 90px;

}

.im9 {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 600px;
    left: 30px;

}

.p8 {
    color: white;
    position: absolute;
    top: 590px;
    left: 90px;

}

.t {
    background-color: #f1f0f0;
    width: 1000px;
    height: 730px;
    position: absolute;
    border: 0px solid black;
    top: 0px;
    left: 230px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.im10 {
    position: absolute;
    height: 20px;
    width: 24px;
    top: 55px;
    left: 40px;

}

.p9 {
    color: black;
    position: absolute;
    top: 40px;
    left: 90px;

}

.s {
    position: absolute;
    top: 47px;
    width: 450px;
    border-radius: 30px;
    border: 0px;
    left: 200px;
    height: 30px;
    background-color: #d3d3d3a4;

}

.im11 {
    position: absolute;
    height: 20px;
    width: 24px;
    top: 53px;
    left: 620px;

}

.im12 {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 40px;
    left: 680px;


}

.im13 {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 40px;
    left: 750px;
}

.im14 {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 43px;
    left: 830px;
}

.t1 {
    position: absolute;
    color: black;
    left: 880px;
    top: 28px;

}

.t2 {
    position: absolute;
    color: black;
    left: 880px;
    top: 45px;

}

.im15 {
    position: absolute;
    height: 24px;
    width: 24px;
    top: 120px;
    left: 80px;
}

.t3 {
    position: absolute;
    left: 120px;
    top: 109px;
}

.hr {
    position: relative;
    top: 20px;
    top: 150px;
    right: 285px;
    width: 300px;
    border: none;
    border-radius: 3px;
    height: 4px;
    background: rgba(128, 128, 128, 0.486);
    margin-bottom: 50px;

}

.t4 {
    background-color: white;
    width: 710px;
    height: 500px;
    position: absolute;
    border: 0px;
    top: 200px;
    left: 293px;
    border-radius: 14px;
}

.im19 {
    position: absolute;
    height: 60px;
    width: 60px;
    top: 20px;
    left: 20px;

}

.la {
    top: 90px;
    left: 30px;
    position: absolute;
}

#fullname {
    position: absolute;
    top: 120px;
    width: 400px;
    border-radius: 5px;
    border: 0px;
    left: 20px;
    height: 30px;
    background-color: rgba(199, 235, 241, 0.399);


}

.la1 {
    top: 170px;
    left: 30px;
    position: absolute;
}

#username {
    position: absolute;
    top: 200px;
    width: 400px;
    border-radius: 5px;
    border: 0px;
    left: 20px;
    height: 30px;
    background-color: rgba(199, 235, 241, 0.399);


}

.la2 {
    top: 250px;
    left: 30px;
    position: absolute;
}

#email {
    position: absolute;
    top: 280px;
    width: 400px;
    border-radius: 5px;
    border: 0px;
    left: 20px;
    height: 30px;
    background-color: rgba(199, 235, 241, 0.399);


}

.la3 {
    top: 330px;
    left: 30px;
    position: absolute;
}

#phone {
    position: absolute;
    top: 360px;
    width: 400px;
    border-radius: 5px;
    border: 0px;
    left: 20px;
    height: 30px;
    background-color: rgba(199, 235, 241, 0.399);
}

.bt {
    top: 430px;
    height: 50px;
    width: 130px;
    left: 270px;
    position: absolute;
    color: white;
    background-color: #3d0990;
    border-radius: 10px;
    border: 0px;

}

#t5 {
    position: absolute;
    background-color: white;
    height: 280px;
    width: 440px;
    top: 340px;
    left: 550px;
    visibility: hidden;
    border-radius: 5px;
}

.cancel {
    position: absolute;
    left: 200px;
    top: 240px;

}

#output {
    position: absolute;
    left: 70px;
    width: 700px;

}

.blur1 {
    opacity: .3;
>>>>>>> a06a0ef73be60bc575a99990d3b212d1bc8ee36f
}