.border {
    border: 1px solid #525258 !important;
    box-shadow: 1px 1px 0px 1px;
}

.rounded-pill {
    border-radius: 1rem !important;
}

.bg-color {
    background-color: rgb(235, 241, 246);
}

h5 {
    float: left;
}

li {
    list-style-type: none;
    /* Remove default bullet points for the entire list */
    display: inline;
    margin-left: 10px;
}

.with-bullet:before {
    content: '\2022';

}

.inline-div {
    flex: 1;

    background-color: rgb(136, 132, 127);
    border-radius: 35px;
    color: #fff;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(235, 241, 246);
    background-clip: border-box;
    border: none;
    border-radius: .25rem;
}

.custom-column {
    width: 15%;
}

.card:hover {
    background-color: rgb(235, 239, 244);
}