.image-wrapper {
    display: flex;
    align-items: center;
}

li {
    white-space: nowrap;
}

ul {
    padding-top: 45%;
}

a {
    color: white;
}

li :hover {
    background-color: #E3E3E3;
    /* background-color: #e01616; */
    color: black;
    border-radius: 25px 0px 0px 25px;
}

aside .side-inner .nav-menu {
    margin-bottom: 50px;
    clear: both;
}

    aside .side-inner .nav-menu ul, aside .side-inner .nav-menu ul li {
        padding: 0;
        margin: 0px;
        list-style: none;
    }

        aside .side-inner .nav-menu ul li a {
            display: block;
            padding-left: 23px;
            padding-right: 30px;
            padding-top: 10px;
            padding-bottom: 10px;
            outline: none;
            color: #786c6c;
            position: relative;
            -webkit-transition: .3s all ease;
            -o-transition: .3s all ease;
            transition: .3s all ease;
        }

            aside .side-inner .nav-menu ul li a:active, aside .side-inner .nav-menu ul li a:focus, aside .side-inner .nav-menu ul li a:hover {
                outline: none;
            }

.aside .side-inner .nav-menu ul li a:hover {
    margin-left: 10px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    color: #000;
    background: #E3E3E3;
    position: relative;
}

.aside a:hover::after {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 100%;
    left: 91%;
    right: 0;
    top: -28px;
    height: 40px;
    width: 40px;
    border-bottom-right-radius: 18px;
    box-shadow: 0 30px 0 0#E3E3E3;
}

.aside a:hover::before {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 57px;
    right: 0;
    left: 90%;
    height: 40px;
    width: 40px;
    border-top-right-radius: 18px;
    box-shadow: 0 -30px 0 0 #E3E3E3;
}
