<div>
    <nav class="navba">
        <ul class="list-unstyled">
            <li class="nav-item d-sm-inline text-secondary"><b>All Jobs</b></li>
            <li class="nav-item d-sm-inline text-secondary "><b>Saved Jobs</b></li>
            <li class="text-right nav-item d-sm-inline"><i class="bi bi-bell-fill text-secondary text-right"></i></li>
            <li class=" nav-item d-sm-inline d-flex"><img src="../../assets/image/Ellipse 1.png" width="25rem"
                    class="float-right" alt=""></li>
            <li class="nav-item d-sm-inline d-flex"><span style="right: auto;">Leslie Alexander</span></li>
        </ul>
    </nav>

</div>