<!-- <div class="container">
  <div class="header">
    <app-header></app-header>
    </div>
    <div class="sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="content">
      <app-content></app-content>
    </div>
</div> -->

<span class="content"><span>components-2 app is running!</span></span>
<div class="container">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main">
    <div class="header">
      <app-header></app-header>
    </div>
    <div class="content">
      <app-content></app-content>
    </div>
  </div>
</div>
