<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-auto min-vh-100 bg-primary">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col">
      <app-header></app-header>
      <div class="row">
        <div class="col-md-12 " style="background-color: rgba(236, 237, 243, 0.884); height: 100%;" >
          <app-main></app-main>
          <div class=row>
          </div>
          
        </div>
        
      </div>
      

    </div>

  </div>
  <div class="row">
    <div class="col-md-12 bg-primary">
      <app-footer></app-footer>
    </div>
  </div>

</div>