

 .nav-link{
    color: azure;
    font-family:auto;
    font-size: 20px;
    padding-left: 15px;
}




.nav-link2{

    color: azure;
    font-family:auto;
    font-size: 15px;
    padding-left: 20px;
    text-decoration: none;
   margin-left: 25px;
}

.nav-item:hover{
    background-color: rgb(150, 173, 191);
}


.border{
    border-radius: 10px;
    margin-left: 10px;
    font-weight: bold;
}
.profile {
    display: flex;
    justify-content: center; 
    margin-bottom: 20px;
    align-items: center;
    margin-left: 70px;
  }
  
  .profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    /* Additional styling properties */
  }
   h4 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    color: #ffff;
    /* Additional styling properties */
  }
  p{
    color: #ffff;
    text-align: center;
  }
  h2{
    color: #fff;
    text-align: center;
  }

  .image-container {
    
    display: inline-block;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    align-items: center;
  }
  
  .open-to-work {
    background-color: rgba(11, 155, 25, 0.7);
    color: white;
    font-size: 15px;
    text-align: center;
  }

  .centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
