@page
@model IndexModel
@{
    Layout = "ProfileLayout";
}

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2 bg-primary">
				<nav class="navbar  navbar-expand-md sidebar navbar-dark">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
						<span class="navbar-toggler-icon bg-dark"></span>
					</button>
					<div class="collapse  navbar-collapse sidebar " id="collapsibleNavbar">
						<ul class="list-group text-white list-unstyled">
							<li class="list-group-item border-0 bg-primary">
								<div class="w-60 mt-5 pb-2 pt-2 bg-secondary rounded-circle">
									<img class="img-fluid mx-auto d-block" src="~/images/cheerful-curly-business-girl-wearing-glasses 1.png">
								</div>
							</li>
							<li>
								<p class="text-center">Olivia<br>olivia@gmail.com</p>
							</li>
							<li class="list-group-item border-0 bg-primary">
								<p><img src="~/images/dashboard 1 (1).png">  Dash Board</p>
							</li>
							<li class="list-group-item border-0 bg-primary">
								<p> <a class="nav-link text-white" asp-area="" asp-page="/JobList"><img src="~/images/suitcase 2.png">   Jobs</a></p>
							</li>
							<li class="list-group-item border-0 bg-primary">
								<p><img src="~/images/application (1) 1.png">  Applications</p>
							</li>
							<li class="list-group-item border-0 bg-primary">
								<p><img src="~/images/question (1) 1.png"> Interviews</p>
							</li>
							<li class="list-group-item border-0 bg-primary">
								<p><img src="~/images/message 1.png"> Messages</p>
							</li>

							<li class="list-group-item border-0 bg-primary">
								<p><img src="~/images/settings 1.png">  Settings</p>
							</li>
							<li class="list-group-item border-0 bg-primary">
								<img class="img-fluid" src="~/images/add-group (1) 1 (1).png"><br>
								<span class="text-white">Add New</span>
							</li>
						</ul>
					</div>
				</nav>
			</div>
			<div class="col-md-10 bg-light">
				<div class="row bg-white">
					<div class="col-md-12">
						<img class="img-fluid float-right" src="~/images/Group 33999.png" width="50" height="50">
						<img class="img-fluid float-right" src="~/images/notification-bing.png" width="50" height="50">

					</div>
				</div>
				<div class="row">
					<div class="col-md-10 mx-auto d-block">
						<h4 class="h4-fluid text-primary">Find Job Seeker</h4>
						<div class="input-group border rounded-pill bg-white">
							<img class="img-fluid ml-3" src="~/images/search copy 2 (1).png" width="15" height="5">
							<input type="search" class="form-control border-0 small" placeholder="Search by Job Title, Qualification, Industry" aria-label="Search" aria-describedby="search-addon">
							<img class="img-fluid mr-5" src="~/images/icon filter.png" width="15" height="15">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 mx-auto d-block ">
						<div class="row">
							<div class="col-md-3">
								<button class="btn btn-block text-secondary bg-info rounded-pill mt-2">Location</button>
							</div>
							<div class="col-md-3">
								<button class="btn btn-block text-secondary bg-info rounded-pill mt-2">Experience</button>
							</div>
							<div class="col-md-3">
								<button class="btn btn-block text-secondary bg-info rounded-pill mt-2">Categorie</button>
							</div>
							<div class="col-md-3">
								<button class="btn btn-block text-secondary bg-info rounded-pill mt-2">Skills</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 mx-auto d-block mt-5 text-white text-center">
						<div class="row mt-2">
							<div class="col-md-3 bg-primary rounded ml-5 ">
								<h3 class="h4-fluid float-right">8</h3>
								<img class="img-fluid float-left mt-2" src="~/images/Group 33988.png">
								Interviews<br> Scheduled

							</div>
							<div class="col-md-3 bg-primary rounded ml-5">
								<h3 class="h4-fluid float-right">127</h3>
								<img class="img-fluid float-left mt-2" src="~/images/icon.png">
								Application Recieved

							</div>
							<div class="col-md-3 bg-primary rounded ml-5">
								<h3 class="h4-fluid float-right">49</h3>
								<img class="img-fluid float-left mt-2" src="~/images/icon (1).png">
								Total Jobs Posted

							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-11 mx-auto d-block mt-5">
						<img class="img-fluid" src="~/images/smiling-hr-employer-handshaking-successful-job-applicant-hiring-greeting 1.png">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>