<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Workshop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Workshop.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <div class="row p-5 d-flex">
            <div class="col-xl-12 p-5">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>