.wid3 {
    animation: 2s ease-out 0s 1 slideInFromBottom;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

.custom-input {
    width: 400px; /* Adjust the width as desired */
    height: 50px;
}

.custom-button {
    width: 400px; /* Adjust the width as desired */
    height: 50px; /* Adjust the height as desired */
}

.forgot-password {
    color: rgb(130, 129, 129);
    font-weight: 500;
}
@media (max-width: 768px) {
    .carousel-item img {
        height: 200px;
    }
}

