USE [E_COMMERCE]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 08/03/2023 11:23:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[CAT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CAT_NAME] [varchar](50) NOT NULL,
	[CAT_DESC] [varchar](50) NOT NULL,
	[CAT_IMAGE] [varbinary](max) NULL,
	[CAT_STATUS] [varchar](50) NOT NULL,
	[CAT_CREATEDBY] [varchar](50) NOT NULL,
	[CAT_CREATEDDATE] [varchar](50) NOT NULL,
	[CAT_MODIBY] [varchar](50) NOT NULL,
	[CAT_MODIDATE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[CAT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 08/03/2023 11:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[ORD_ID] [int] IDENTITY(1,1) NOT NULL,
	[ORD_USERID] [int] NOT NULL,
	[ORD_PROID] [int] NOT NULL,
	[ORD_QTY] [int] NOT NULL,
	[ORD_TOTAL] [int] NOT NULL,
	[ORD_STATUS] [varchar](50) NOT NULL,
	[ORD_CREATEBY] [varchar](50) NOT NULL,
	[ORD_CREATEDATE] [varchar](50) NOT NULL,
	[ORD_MODIBY] [varchar](50) NOT NULL,
	[ORD_MODIDATE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ORDERS] PRIMARY KEY CLUSTERED 
(
	[ORD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 08/03/2023 11:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[PRO_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRO_NAME] [varchar](50) NOT NULL,
	[PROCAT_ID] [int] NOT NULL,
	[PRO_DESC] [varchar](100) NOT NULL,
	[PRO_STOCK] [int] NOT NULL,
	[PRO_IMAGE] [varbinary](max) NULL,
	[PRO_PRICE] [int] NOT NULL,
	[PRO_STATUS] [varchar](50) NOT NULL,
	[PRO_CREATEBY] [varchar](50) NOT NULL,
	[PRO_CREATEDATE] [varchar](50) NOT NULL,
	[PRO_MODIBY] [varchar](50) NOT NULL,
	[PRO_MODIDATE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PRODUCTS] PRIMARY KEY CLUSTERED 
(
	[PRO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 08/03/2023 11:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [varchar](50) NOT NULL,
	[USER_EMAIL] [varchar](50) NOT NULL,
	[USER_PASSWORD] [varchar](50) NOT NULL,
	[USER_PHONE] [varchar](50) NOT NULL,
	[USER_ADDRESS] [varchar](50) NOT NULL,
	[USER_IMAGE] [varbinary](max) NULL,
	[USER_ROLE] [varchar](50) NOT NULL,
	[USER_STATUS] [varchar](50) NOT NULL,
	[USER_CREATEBY] [varchar](50) NOT NULL,
	[USER_CREATEDATE] [varchar](50) NOT NULL,
	[USER_MODIBY] [varchar](50) NOT NULL,
	[USER_MODIDATE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_PRODUCTS] FOREIGN KEY([ORD_PROID])
REFERENCES [dbo].[PRODUCTS] ([PRO_ID])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_PRODUCTS]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_USER] FOREIGN KEY([ORD_USERID])
REFERENCES [dbo].[USER] ([USER_ID])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_USER]
GO
