h3{color: black;
    padding-left:20px;
    }
    .search{
        border-radius: 8px;
        height: 35px;
        width: 850px;
        border: 1px solid black;
       position: absolute;
       left: 20px;
       padding-left: 50px;
      
    }
    .image-one{
        position: absolute;
        left: 20px;
       
    }
    .image-two{
       
        left: 820px;
    }
    .image-three{
        position: absolute;
        left: 920px;
    }
    .image-four{
        position: absolute;
        left: 950px;
        top: 54px;
    }
   button{
    position: absolute;
    
    background-color: rgb(220, 204, 204);
    height: 30px;
    left: 820px;
    border: none;
    bottom: 15px;
    border: 1px solid black;
   

   }
   button:hover{
    cursor: pointer;
    background-color: gainsboro;
   }
       
