.row {
    display: flex;
    
  }
  
  .col-3 {
    flex-basis: 20%; /* Adjust the width as needed */
    height: 100%;
  }
  
  .col-9 {
    flex-basis: 70%; /* Adjust the width as needed */
    display: flex;
    flex-direction: column;
    height: 80vh;
}

header {
   
    padding: 20px;
    background-color: white;
}

.content {
    flex-grow: 1;
    padding: 20px;
   
    display: flex;
    height: 100%;
}
/* .content1{
  flex-basis: 50%;
  overflow-y: scroll;
} */



