<!-- <div style="padding: 50px;">
<form [FormGroup]="ReactiveForm" (ngSubmit)="addproduct()">
   <label>Product Name</label><br>
   <input type="text" FormControl="name"  name="name" placeholder="product name"><br>

   <label>Price</label><br>
   <input type="text" FormControl="Price"  name="price" placeholder="product name"><br>

   <label>Quantity</label><br>
   <input type="text" FormControl="Quantity"  name="Quantity" placeholder="product name"><br>

   <label>Color</label><br>
   <input type="text" FormControl="color"  name="color" placeholder="product name"><br>

   <button type="submit">Submit</button>
</form>
</div> -->