@page "/login"
@page "/"
@using HireMeNow_BlazorApp.Interfaces;
@layout LoginLayout
@inject IUserService _userService
@inject NavigationManager NavManager
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore
<link href="publicassets/css/loginstyle.css" rel="stylesheet" />

<div class="container containerDiv">

    <div class="col-md-8 wrapperDiv">
        <div class="col-md-6 leftDiv">
            <div>
                <form class="loginform">
                    <img src="publicassets/images/logo.png" alt="" width="60px" />
                    <font size="6" face="DM Sans"> <b>Welcome Back</b> </font>
                    <br>
                    <section class="googleDiv">
                        <img src="publicassets/images/google.png" width="20px" align="top" alt="" />
                       

                        &nbsp;  <b>Log in with Google </b>

                    </section>
                    <br>
                    <font face="Roboto" size="1" color="#C5BEBE">
                        <b> OR LOGIN WITH EMAIL </b>
                    </font>
                    <div class="row">

                        <div class="errors" asp-validation-summary="All">@Error</div>

                        <div class="errors" asp-validation-summary="All">@Message</div>

                    </div>

                    <div class="mb-3 mt-3">

                        <input type="email" asp-for="Email" @bind="Email" class="form-control" id="email" placeholder="Enter email" required="Please Enter Email">
                    </div>
                    <div class="mb-3">
                        <input type="password" asp-for="Password" @bind="Password" class="form-control" id="pwd" placeholder="Enter password" required="Please Enter Password">
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">
                        <label class="form-check-label" for="check2">Keep me logged in</label>
                    </div>
                    <br>
                    <button type="button" class="btn btn-primary btnlogin" @onclick="Login">Login</button>
                    <br>
                    <font size="3" face="Roboto"> Don’t have an account yet ? </font> <a href="Register">
                        <font color="49A1D3" size="3" face="Roboto"> Sign up </font>
                    </a>

                </form>

            </div>
        </div>
        <div class="col-md-6 rightDiv">
            <div>
            </div>
        </div>

    </div>

</div>

@code {

    [Parameter]
    public string Email { get; set; }

    [Parameter]
    public string Password { get; set; }

    [Parameter]

    public string? Error { get; set; }

    public string? Message { get; set; }



    private async void Login()
    {

        Error = "";
        var result = _userService.login(Email, Password);
        if (result!=null)
        {
            await ProtectedSessionStore.SetAsync("userId", result.Id);
            if (result.Role==Enums.Roles.JobSeeker)
                NavManager.NavigateTo("/user/profile");
            else if (result.Role==Enums.Roles.JobProvider)
                NavManager.NavigateTo("/JobProvider/profile");

        Message = "";
        var result = _userService.login(Email, Password);
        if (result!=null)
        {
            Message = "Login Success...";
            // await ProtectedSessionStore.SetAsync("userId", result.Id);
            // if (result.Role==Enums.Roles.JobSeeker)
            //     NavManager.NavigateTo("/user/profile");
            // else if (result.Role==Enums.Roles.JobProvider)
            //     NavManager.NavigateTo("/JobProvider/profile");


        }
        else
        {

            Error = "Login Failed";

            Message = "Login Failed";

        }
    }

}
