<header>
    <nav style="float:right">
     
      <div class="menu " [class.responsive]="isResponsive">
        <a href="#"><img src="../../../../assets/images/header/notification-bing.png" class="img-fluid"></a>
        <a href="#"><img src="../../../../assets/images/header/cheerful-curly-business-girl-wearing-glasses 2.png" class="img-fluid" height="5px"></a>
        <a href="#"><img src="../../../../assets/images/header/exit 1.png" class="img-fluid"><span class="mx-2">Logout</span></a>
       
      </div>
      <div class="icon" (click)="toggleResponsive()">
        <i class="fa fa-bars"></i>
      </div>
    </nav>
  </header>
